
<div class="ps-product__thumbnail" data-vertical="true">
  <figure>
    <div class="ps-wrapper">
      <div class="ps-product__gallery" data-arrow="true">
        <div class="item"><a href="img/products/detail/image-swatches/1.jpg"><img src="img/products/detail/image-swatches/1.jpg" alt=""/></a></div>
        <div class="item"><a href="img/products/detail/image-swatches/2.jpg"><img src="img/products/detail/image-swatches/2.jpg" alt=""/></a></div>
      </div>
    </div>
  </figure>
  <div class="ps-product__variants" data-item="4" data-md="4" data-sm="4" data-arrow="false">
    <div class="item"><img src="img/products/detail/image-swatches/1.jpg" alt=""/></div>
    <div class="item"><img src="img/products/detail/image-swatches/2.jpg" alt=""/></div>
  </div>
</div>