extends ../../master

block data
    include ../../data/product/product-default

block page_header
    - var currentPage = 'homepage'
    include ../../shared/headers/header-1
    include ../../shared/headers/header-mobile

block page_content
    .ps-breadcrumb
        .ps-container
            ul.breadcrumb
                li: a(href='index.html') Home
                li: a(href='shop-default.html') Clothing & Apparel
                li: a(href='shop-default.html') Mens
                li Sleeve Linen Blend Caro Pane Shirt
    .ps-page--product
        .ps-container
            include ../../partials/product/product-image-swatches
            include ../../partials/product/modules/customer-bought
            include ../../partials/product/modules/related-product
    include ../../partials/sections/newsletter
    include ../../shared/footers/footer


