.header__actions
    .ps-block--header-hotline
        .ps-block__left
            i.icon-telephone
        .ps-block__right
            p Hotline
                strong 1-800-234-5678
    .ps-cart--mini
        a(href='#').header__extra
            i.icon-bag2
            span: i 0
        include mini-cart