.header__actions
    a(href='#').header__extra
        i.icon-chart-bars
        span: i 0
    a(href='#').header__extra
        i.icon-heart
        span: i 0
    .ps-cart--mini
        a(href='#').header__extra
            i.icon-bag2
            span: i 0
        include mini-cart
    .ps-block--user-header
        .ps-block__left: i.icon-user
        .ps-block__right
            a(href='my-account.html') Login
            a(href='my-account.html') Register