.ps-product__thumbnail( data-vertical='true')
    figure
        .ps-wrapper
            .ps-product__gallery(data-arrow="true")
                .item: a(href='img/products/detail/countdown/1.jpg'): img(src="img/products/detail/countdown/1.jpg" alt="")
                .item: a(href='img/products/detail/countdown/2.jpg'): img(src="img/products/detail/countdown/2.jpg" alt="")
                .item: a(href='img/products/detail/countdown/3.jpg'): img(src="img/products/detail/countdown/3.jpg" alt="")
                .item: a(href='img/products/detail/countdown/4.jpg'): img(src="img/products/detail/countdown/4.jpg" alt="")
    .ps-product__variants(data-item=4 data-md=4 data-sm=4 data-arrow="false")
        .item: img(src="img/products/detail/countdown/1.jpg" alt="")
        .item: img(src="img/products/detail/countdown/2.jpg" alt="")
        .item: img(src="img/products/detail/countdown/3.jpg" alt="")
        .item: img(src="img/products/detail/countdown/4.jpg" alt="")