-
    blogGrid = [
        {
            title: 'Harman Kadon Onyx Studio Mini, Reviews & Experiences',
            imagePath: 'img/blog/grid/large.jpg',
            type: 'large',
            categories: [
                'Technology',
            ]
        },
        {
            title: 'Experience Great Sound With Beats’s Headphone',
            imagePath: 'img/blog/grid/1.jpg',
            type: 'normal',
            badge: 'icon-volume-high',
            categories: [
                'Entertaiment',
                'Technology'
            ]
        },
        {
            title: 'Products Necessery For Mom',
            imagePath: 'img/blog/grid/2.jpg',
            type: 'normal',
            categories: [
                    'Life Style',
                    'Others',
            ]
        },{
            title: 'Home Interior: Modern Style 2017',
            imagePath: 'img/blog/grid/3.jpg',
            type: 'normal',
            categories: [
                    'Life Style',
                    'Others',
            ]
        },{
            title: 'DeerCo – A New Look About Startup In Product Manufacture Field7',
            imagePath: 'img/blog/grid/4.jpg',
            type: 'normal',
            badge: 'icon-picture',
            categories: [
                'Bussiness',
            ]
        },{
            title: 'B&O Play – Best Headphone For You',
            imagePath: 'img/blog/grid/5.jpg',
            type: 'normal',
            badge: 'icon-camera-play',
            categories: [
                'Technology'
            ]
        },{
            title: 'Unique Products For Your Kitchen From IKEA Design',
            imagePath: 'img/blog/grid/6.jpg',
            type: 'normal',
            categories: [
                'Businesses',
                'Life Style'
            ]
        },
    ]