-
    blogList = [
        {
            title: 'Harman Kadon Onyx Studio Mini, Reviews & Experiences',
            imagePath: 'img/blog/list/1.jpg',
            type: 'large',
            categories: [
                'Technology',
            ]
        },{
            title: 'Products Necessery For Mom',
            imagePath: 'img/blog/list/2.jpg',
            type: 'large',
            categories: [
                'LifeStyle',
                'Others',
            ]
        },
        {
            title: 'B&O Play – Best Headphone For You',
            imagePath: 'img/blog/list/4.jpg',
            type: 'large',
            categories: [
                'Technology',
            ]
        },{
            title: 'Explore Fashion Trending For Guys In Autumn 2017',
            imagePath: 'img/blog/list/5.jpg',
            type: 'large',
            categories: [
                'Fashion',
                'Life Style',
            ]
        },{
            title: 'Compact & Powerful: Cannon Pentack Beside You Go To Anywhere',
            imagePath: 'img/blog/list/6.jpg',
            type: 'large',
            categories: [
                'Business',
            ]
        },{
            title: 'Tips how to choise a perfect watch foractive guys',
            imagePath: 'img/blog/list/3.jpg',
            type: 'large',
            categories: [
                'Entertaiment',
            ]
        },
    ]