-
    homeCategories = [
        {
            thumbnail: 'img/categories/electronic/2.jpg',
            title: 'Tv Televisions',
            links: [
                "Smart TV",
                "4K Ultra HD TVs",
                "LED TVs",
                "OLED TVs",
                "Accessories",
            ]
        },
        {
            thumbnail: 'img/categories/electronic/4.jpg',
            title: 'Air Conditioners',
            links: [
                "Type Hanging On Wall",
                "Type Erect",
                "Type Hanging On Celling",
                "Accessories",
            ]
        },
        {
            thumbnail: 'img/categories/electronic/3.jpg',
            title: 'Washing Machine',
            links: [
                "Type Hanging On Wall",
                "Type Erect",
                "Type Hanging On Celling",
                "Accessories",
            ]
        },
        {
            thumbnail: 'img/categories/electronic/1.jpg',
            title: 'Audios & Theaters',
            links: [
                "Speakers",
                "Home Theater System",
                "Wireless Audio",
                "Headphone",
                "Accessories",
            ]
        },
        {
            thumbnail: 'img/categories/electronic/6.jpg',
            title: 'Office Electronics',
            links: [
                "Printers",
                "Store & Business",
                "Scanners",
                "Projectors",
                "Phones",
            ]
        },
        {
            thumbnail: 'img/categories/electronic/8.jpg',
            title: 'Office Electronics',
            links: [
                "Printers",
                "Store & Business",
                "Scanners",
                "Projectors",
                "Phones",
            ]
        },
    ]
-
    homeDealOfDay = [
        {
            thumbnail: 'img/products/electronic/1.jpg',
            title: 'Marshall Kilburn Portable Wireless',
            vendor: 'Go Pro',
            sale: true,
            price: "$567.99 <del>$670.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-16%'
                }
            ],
        },
        {
            thumbnail: 'img/products/electronic/2.jpg',
            title: 'Xbox One Wireless Controller Black Color',
            vendor: 'Global Office',
            sale: false,
            price: "$101.99",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },
        {
            thumbnail: 'img/products/electronic/3.jpg',
            title: 'Sound Intone I65 Earphone White Version',
            vendor: 'Young Shop',
            sale: true,
            price: "$42.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-25%'
                }
            ],
        },
        {
            thumbnail: 'img/products/electronic/4.jpg',
            title: 'Samsung Gear VR Virtual Reality Headset',
            vendor: 'Global Office',
            sale: false,
            price: "$320.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/5.jpg',
            title: 'Samsung UHD TV 24inch Reality Headset',
            vendor: 'Global Office',
            sale: false,
            price: "$85.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/6.jpg',
            title: 'EPSION Plaster Printer Reality HD Card',
            vendor: "Global Store" ,
            sale: false,
            price: "$92.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/7.jpg',
            title: 'LG White Front Load Steam Washer',
            vendor: "Young Shop" ,
            sale: true,
            price: "$42.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-46%'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/8.jpg',
            title: 'Edifier Powered Bookshelf Speakers',
            vendor: "Go Pro" ,
            sale: false,
            price: "$42.00",
            rating: true,
            ratingCount: '02',
        },{
            thumbnail: 'img/products/electronic/9.jpg',
            title: 'Amcrest Security Camera in White Color',
            vendor: "Go Pro" ,
            sale: false,
            price: "$42.00",
            rating: true,
            ratingCount: '02',
        },{
            thumbnail: 'img/products/electronic/10.jpg',
            title: 'Amcrest Security Camera in White Color',
            vendor: "Go Pro" ,
            sale: false,
            price: "$42.00",
            rating: true,
            ratingCount: '02',
        },
    ]
-
    homeBestSeller = [
        {
            thumbnail: 'img/products/electronic/11.jpg',
            title: 'ASUS Chromebook Flip – 10.2 Inch',
            vendor: 'Go Pro',
            sale: true,
            price: "$567.99 <del>$670.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-16%'
                }
            ],

        },{
            thumbnail: 'img/products/electronic/2.jpg',
            title: 'Xbox One Wireless Controller Black Color',
            vendor: 'Global Office',
            sale: false,
            price: "$101.99",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/3.jpg',
            title: 'Sound Intone I65 Earphone White Version',
            vendor: 'Young Shop',
            sale: true,
            price: "$42.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-25%'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/4.jpg',
            title: 'Samsung Gear VR Virtual Reality Headset',
            vendor: 'Global Office',
            sale: false,
            price: "$320.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/5.jpg',
            title: 'Samsung UHD TV 24inch',
            vendor: 'Global Office',
            sale: false,
            price: "$342.00 <del>$460.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '20%'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/6.jpg',
            title: 'EPSION Plaster Printer',
            vendor: "Global Store" ,
            sale: false,
            price: "$92.00",
            rating: true,
            ratingCount: '01',

        },{
            thumbnail: 'img/products/electronic/7.jpg',
            title: 'LG White Front Load Steam Washer',
            vendor: "Young Shop" ,
            sale: true,
            price: "$42.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-46%'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/8.jpg',
            title: 'Edifier Powered Bookshelf Speakers',
            vendor: "Go Pro" ,
            sale: false,
            price: "$42.00",
            rating: true,
            ratingCount: '02',
        },{
            thumbnail: 'img/products/electronic/9.jpg',
            title: 'Amcrest Security Camera in White Color',
            vendor: "Go Pro" ,
            sale: false,
            price: "$42.00",
            rating: true,
            ratingCount: '02',
        },{
            thumbnail: 'img/products/electronic/10.jpg',
            title: 'Amcrest Security Camera in White Color',
            vendor: "Go Pro" ,
            sale: false,
            price: "$42.00",
            rating: true,
            ratingCount: '02',
        },
    ]
-
    homeElectronic = [
        {
            thumbnail: 'img/products/electronic/12.jpg',
            title: 'TCL 47-inch 4K Ultra HD Smart TV',
            vendor: 'Go Pro',
            sale: true,
            price: "$567.99 <del>$670.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-16%'
                }
            ],

        },{
            thumbnail: 'img/products/electronic/14.jpg',
            title: 'Samsung 65-Inch 4K Ultra HD Smart LED TVr',
            vendor: 'Global Office',
            sale: false,
            price: "$1600.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/electronic/7.jpg',
            title: 'LG Electrolux 500L Inverte Washing Machine',
            vendor: 'Young Shop',
            sale: true,
            price: "$342.00 <del>$360.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-5%'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/15.jpg',
            title: 'Panasonic Invertr 900L Refrigerator',
            vendor: 'Global Office',
            sale: false,
            price: "$720.00",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/electronic/5.jpg',
            title: 'Samsung UHD TV 24inch',
            vendor: 'Global Office',
            sale: true,
            price: "$342.00 <del>$460.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '20%'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/6.jpg',
            title: 'EPSION Plaster Printer',
            vendor: "Global Store" ,
            sale: false,
            price: "$92.00",
            rating: true,
            ratingCount: '01',

        },{
            thumbnail: 'img/products/electronic/7.jpg',
            title: 'LG White Front Load Steam Washer',
            vendor: "Young Shop" ,
            sale: true,
            price: "$42.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-46%'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/8.jpg',
            title: 'Edifier Powered Bookshelf Speakers',
            vendor: "Go Pro" ,
            sale: false,
            price: "$42.00",
            rating: true,
            ratingCount: '02',
        },{
            thumbnail: 'img/products/electronic/9.jpg',
            title: 'Amcrest Security Camera in White Color',
            vendor: "Go Pro" ,
            sale: false,
            price: "$42.00",
            rating: true,
            ratingCount: '02',
        },{
            thumbnail: 'img/products/electronic/10.jpg',
            title: 'Amcrest Security Camera in White Color',
            vendor: "Go Pro" ,
            sale: false,
            price: "$42.00",
            rating: true,
            ratingCount: '02',
        },
    ]
-
    homeTechnology = [
        {
            thumbnail: 'img/products/electronic/3.jpg',
            title: 'Sound Intone I65 Earphone White Version',
            vendor: 'Go Pro',
            sale: true,
            price: "$100.99 <del>$105.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-5%'
                }
            ],

        },{
            thumbnail: 'img/products/electronic/11.jpg',
            title: 'ASUS Chromebook Flip – 10.2 Inch',
            vendor: 'Global Office',
            sale: false,
            price: "$322.38",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/electronic/13.jpg',
            title: 'Apple Macbook Retina Display 12”',
            vendor: 'Young Shop',
            sale: true,
            price: "$625.00 <del>$760.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-24%'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/4.jpg',
            title: 'Samsung Gear VR Virtual Reality Headset',
            vendor: 'Global Office',
            sale: false,
            price: "$64.00",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/electronic/16.jpg',
            title: 'Apple iPhone Retina 6s Plus 64GB',
            vendor: 'Global Office',
            sale: false,
            price: "$999.59",
            rating: true,
            ratingCount: '01',

        },
    ]
-
    homeCamera = [
        {
            thumbnail: 'img/products/electronic/18.jpg',
            title: 'Gopro Hero 4 Sliver Wireless, 4k HD',
            vendor: 'Go Pro',
            sale: true,
            price: "$500.99 <del>$510.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-5%'
                }
            ],

        },{
            thumbnail: 'img/products/electronic/19.jpg',
            title: 'Nikon Coolpix 24 Megapixel Camera',
            vendor: 'Global Office',
            sale: false,
            price: "$393.38",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/electronic/20.jpg',
            title: 'Sony HD 1080, 13.5MP, White Version',
            vendor: 'Young Shop',
            sale: true,
            price: "$625.00 <del>$760.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-24%'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/17.jpg',
            title: 'Beat Spill 2.0 Wireless Speaker – White',
            vendor: 'Global Office',
            sale: false,
            price: "$64.00",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/electronic/9.jpg',
            title: 'Amcrest Security Camera in White Color',
            vendor: 'Global Office',
            sale: false,
            price: "$807.59",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/electronic/10.jpg',
            title: 'DJI Phantom 4 Quadcopter Camera, White',
            vendor: 'Global Office',
            sale: false,
            price: "$999.59",
            rating: true,
            ratingCount: '01',
        },
    ]