.ps-product__info
    h1 Marshall Kilburn Portable Wireless Speaker
    .ps-product__meta
        p Brand:
            a(href='shop-default.html') Sony
        .ps-product__rating
            +rating(true)
            span (1 review)

    .ps-product__desc
        p Sold By:
            a(href='shop-default.html'): strong  Go Pro
        ul.ps-list--dot
            li  Unrestrained and portable active stereo speaker
            li  Free from the confines of wires and chords
            li  20 hours of portable capabilities
            li  Double-ended Coil Cord with 3.5mm Stereo Plugs Included
            li  3/4″ Dome Tweeters: 2X and 4″ Woofer: 1X
    .ps-product__specification
        a(href='#').report Report Abuse
        p
            strong SKU:
            |  SF1133569600-1
        p.categories
            strong  Categories:
            a(href='#') Consumer Electronics
            |,
            a(href='#')  Refrigerator
            |,
            a(href='#') Babies & Moms
        p.tags
            strong  Tags
            a(href='#') sofa
            |,
            a(href='#') technologies
            |,
            a(href='#') wireless
    .ps-product__sharing
        a(href='#').facebook: i.fa.fa-facebook
        a(href='#').twitter: i.fa.fa-twitter
        a(href='#').google: i.fa.fa-google-plus
        a(href='#').linkedin: i.fa.fa-linkedin
        a(href='#').instagram: i.fa.fa-instagram