.ps-product__info
    h1 Sleeve Linen Blend Caro Pane Shirt
    .ps-product__meta
        p Brand:
            a(href='shop-default.html') Adidas
        .ps-product__rating
            +rating(true)
            span (1 review)
    h4.ps-product__price $36.78 – $56.99
    .ps-product__desc
        p Sold By:
            a(href='shop-default.html'): strong  Global Store
        ul.ps-list--dot
            li  Unrestrained and portable active stereo speaker
            li  Free from the confines of wires and chords
            li  20 hours of portable capabilities
            li  Double-ended Coil Cord with 3.5mm Stereo Plugs Included
            li  3/4″ Dome Tweeters: 2X and 4″ Woofer: 1X
    .ps-product__variations
        figure
            figcaption Color: <strong> Choose an option</strong>
            .ps-variant.ps-variant--image
                span.ps-variant__tooltip Blue
                img(src="img/products/detail/variants/small-1.jpg" alt="")
            .ps-variant.ps-variant--image
                span.ps-variant__tooltip  Dark
                img(src="img/products/detail/variants/small-2.jpg" alt="")
            .ps-variant.ps-variant--image
                span.ps-variant__tooltip  pink
                img(src="img/products/detail/variants/small-3.jpg" alt="")
        figure
            figcaption Size <strong> Choose an option</strong>
            .ps-variant.ps-variant--size
                span.ps-variant__tooltip S
                span.ps-variant__size S
            .ps-variant.ps-variant--size
                span.ps-variant__tooltip  M
                span.ps-variant__size M
            .ps-variant.ps-variant--size
                span.ps-variant__tooltip  L
                span.ps-variant__size L
    .ps-product__shopping
        figure
            figcaption Quantity
            .form-group--number
                button.up +
                button.down -
                input.form-control(type="text" placeholder="1")
        a(href='#').ps-btn.ps-btn--gray Add to cart
        a(href='#').ps-btn Buy Now
        .ps-product__actions
            a(href='#'): i.icon-heart
            a(href='#'): i.icon-chart-bars
    .ps-product__specification
        a(href='#').report Report Abuse
        p
            strong SKU:
            |  SF1133569600-1
        p.categories
            strong  Categories:
            a(href='#') Consumer Electronics
            |,
            a(href='#')  Refrigerator
            |,
            a(href='#') Babies & Moms
        p.tags
            strong  Tags
            a(href='#') sofa
            |,
            a(href='#') technologies
            |,
            a(href='#') wireless
    .ps-product__sharing
        a(href='#').facebook: i.fa.fa-facebook
        a(href='#').twitter: i.fa.fa-twitter
        a(href='#').google: i.fa.fa-google-plus
        a(href='#').linkedin: i.fa.fa-linkedin
        a(href='#').instagram: i.fa.fa-instagram