-
    menuMarket2 = [
        {
            text: 'All Categories',
            url: 'shop-default.html',
        },{
            text: 'Today Deals',
            url: 'shop-default.html',
        },{
            text: 'Electronics',
            url: 'shop-default.html',
        },{
            text: 'Clothing',
            url: 'shop-default.html',
        },{
            text: 'Computers',
            url: 'shop-default.html',
        },{
            text: 'Furnitures',
            url: 'shop-default.html',
        },{
            text: 'Mom & baby',
            url: 'shop-default.html',
        },{
            text: 'Book & More',
            url: 'shop-default.html',
        },
    ]