-
    product_categories = [
        {
            icon: 'icon-star',
            text: 'Hot Promotions',
            url : '#',
        },
        {
            icon: 'icon-laundry',
            text: 'Consumer Electronic',
            url : '#',
            extraClass: 'menu-item-has-children has-mega-menu',
            subClass: 'sub-menu',
            mega: true,
            megaContent: [
                {
                    heading: "Electronic",
                    megaItems: [
                        {
                            text: 'Home Audio & Theathers',
                            url: '#'
                        },
                        {
                            text: 'TV & Videos',
                            url: '#'
                        },
                        {
                            text: 'Camera, Photos & Videos',
                            url: '#'
                        },
                        {
                            text: 'Cellphones & Accessories',
                            url: '#'
                        },
                        {
                            text: 'Headphones',
                            url: '#'
                        },
                        {
                            text: 'Videosgames',
                            url: '#'
                        },
                        {
                            text: 'Wireless Speakers',
                            url: '#'
                        },
                        {
                            text: 'Office Electronic',
                            url: '#'
                        },
                    ]
                },
                {
                    heading: "Accessories & Parts",
                    megaItems: [
                        {
                            text: 'Digital Cables',
                            url: '#'
                        },
                        {
                            text: 'Audio & Video Cables',
                            url: '#'
                        },
                        {
                            text: 'Batteries',
                            url: '#'
                        },
                    ]
                },
            ]
        },
        {
            icon: 'icon-shirt',
            text: 'Clothing & Apparel',
            url : '#',
        },
        {
            icon: 'icon-lampshade',
            text: 'Home, Garden & Kitchen',
            url : '#',
        },
        {
            icon: 'icon-heart-pulse',
            text: 'Health & Beauty',
            url : '#',
        },
        {
            icon: 'icon-diamond2',
            text: 'Yewelry & Watches',
            url : '#',
        },
        {
            icon: 'icon-desktop',
            text: 'Computer & Technology',
            url : '#',
            extraClass: 'menu-item-has-children has-mega-menu',
            subClass: 'sub-menu',
            megaContent: [
                {
                    heading: "Computer & Technologies",
                    megaItems: [
                        {
                            text: 'Computer & Tablets',
                            url: '#'
                        },
                        {
                            text: 'Laptop',
                            url: '#'
                        },
                        {
                            text: 'Monitors',
                            url: '#'
                        },
                        {
                            text: 'Networking',
                            url: '#'
                        },
                        {
                            text: 'Drive & Storages',
                            url: '#'
                        },
                        {
                            text: 'Computer Components',
                            url: '#'
                        },
                        {
                            text: 'Security & Protection',
                            url: '#'
                        },
                        {
                            text: 'Gaming Laptop',
                            url: '#'
                        },
                        {
                            text: 'Accessories',
                            url: '#'
                        },
                    ]
                },
            ]
        },
        {
            icon: 'icon-baby-bottle',
            text: 'Babies & Moms',
            url : '#',
        },
        {
            icon: 'icon-baseball',
            text: 'Sport & Outdoor',
            url : '#',
        },
        {
            icon: 'icon-smartphone',
            text: 'Phones & Accessories',
            url : '#',
        },
        {
            icon: 'icon-book2',
            text: 'Books & Office',
            url : '#',
        },
        {
            icon: 'icon-car-siren',
            text: 'Cars & Motocycles',
            url : '#',
        },
        {
            icon: 'icon-wrench',
            text: 'Home Improments',
            url : '#',
        },
        {
            icon: 'icon-tag',
            text: 'Vouchers & Services',
            url : '#',
        },
    ]