
-
    menuElectronic = [
        {
            text: 'Hot Deal',
            url: 'homepage-4.html',
            icon: 'icon-star'
        },
        {
            text: 'Home Electronics',
            url: 'homepage-4.html',
            icon: 'icon-laundry'
        },
        {
            text: 'Computer & Technology',
            url: 'homepage-4.html',
            icon: 'icon-laptop'
        },
        {
            text: 'Camera & Videos',
            url: 'homepage-4.html',
            icon: 'icon-camera2'
        },
        {
            text: 'Office Electronics',
            url: 'homepage-4.html',
            icon: 'icon-surveillance'
        },
    ]