-
    menuDropdown = [
        {
            text: 'Interior',
            url : '#',
        },{
            text: 'Wheels & Tires',
            url : '#',
        },{
            text: 'Exterior',
            url : '#',
        },{
            text: 'Performance',
            url : '#',
        },{
            text: 'Body parts',
            url : '#',
        },{
            text: 'Lighting',
            url : '#',
        },{
            text: 'Accessories',
            url : '#',
        },
    ]
-
    menuAutopart = [
        {
            text: 'Interior',
            url: 'homepage-2.html'
        },
        {
            text: 'Exterior',
            url: 'homepage-2.html'
        },
        {
            text: 'Body parts',
            url: 'homepage-2.html'
        },
        {
            text: 'Wheels & Tires',
            url: 'homepage-2.html'
        },
        {
            text: 'Lighting',
            url: 'homepage-2.html'
        },
        {
            text: 'Performance',
            url: 'homepage-2.html'
        },
        {
            text: 'Repare part',
            url: 'homepage-2.html'
        },
        {
            text: 'Tools & Garage',
            url: 'homepage-2.html'
        },
    ]