-
    menu_1 = [
        {
            text: 'Home',
            url : 'index.html',
            current: 'homepage',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Marketplace Full Width',
                    url: 'index.html'
                },
                {
                    text: 'Home Auto Parts',
                    url: 'homepage-2.html'
                },
                {
                    text: 'Home Technology',
                    url: 'homepage-10.html'
                },
                {
                    text: 'Home Organic',
                    url: 'homepage-9.html'
                },
                {
                    text: 'Home Marketplace V1',
                    url: 'homepage-3.html'
                },
                {
                    text: 'Home Marketplace V2',
                    url: 'homepage-4.html'
                },
                {
                    text: 'Home Marketplace V3',
                    url: 'homepage-5.html'
                },
                {
                    text: 'Home Marketplace V4',
                    url: 'homepage-6.html'
                },
                {
                    text: 'Home Electronic',
                    url: 'homepage-7.html'
                },
                {
                    text: 'Home Furniture',
                    url: 'homepage-8.html'
                },
            ]
        },
        {
            text: 'Shop',
            url : 'shop-default.html',
            current: 'shop',
            extraClass: 'menu-item-has-children has-mega-menu',
            subClass: 'sub-menu',
            mega: true,
            megaContent: [
                {
                    heading: "Catalog Pages",
                    megaItems: [
                        {
                            text: 'Shop Default',
                            url: 'shop-default.html'
                        },
                        {
                            text: 'Shop Fullwidth',
                            url: 'shop-default.html'
                        },
                        {
                            text: 'Shop Categories',
                            url: 'shop-categories.html'
                        },
                        {
                            text: 'Shop Sidebar',
                            url: 'shop-sidebar.html'
                        },
                        {
                            text: 'Shop Without Banner',
                            url: 'shop-sidebar-without-banner.html'
                        },
                        {
                            text: 'Shop Carousel',
                            url: 'shop-carousel.html'
                        },
                    ]
                },
                {
                    heading: "Product Layout",
                    megaItems: [
                        {
                            text: 'Default',
                            url: 'product-default.html'
                        },
                        {
                            text: 'Extended',
                            url: 'product-extend.html'
                        },
                        {
                            text: 'Full Content',
                            url: 'product-full-content.html'
                        },
                        {
                            text: 'Boxed',
                            url: 'product-box.html'
                        },
                        {
                            text: 'Sidebar',
                            url: 'product-sidebar.html'
                        },
                        {
                            text: 'Fullwidth',
                            url: 'product-default.html'
                        },
                    ]
                },
                {
                    heading: "Product Types",
                    megaItems: [
                        {
                            text: 'Simple',
                            url: 'product-default.html'
                        },
                        {
                            text: 'Color Swatches',
                            url: 'product-default.html'
                        },
                        {
                            text: 'Countdown',
                            url: 'product-countdown.html'
                        },
                        {
                            text: 'Multi-Vendor',
                            url: 'product-multi-vendor.html'
                        },
                        {
                            text: 'Instagram',
                            url: 'product-instagram.html'
                        },
                        {
                            text: 'Affiliate',
                            url: 'product-affiliate.html'
                        },
                        {
                            text: 'On sale',
                            url: 'product-on-sale.html'
                        },
                        {
                            text: 'Video Featured',
                            url: 'product-video.html'
                        },
                        {
                            text: 'Grouped',
                            url: 'product-groupped.html'
                        },
                        {
                            text: 'Out Of Stock',
                            url: 'product-out-stock.html'
                        },
                    ]
                },
                {
                    heading: "Woo Pages",
                    megaItems: [
                        {
                            text: 'Shopping Cart',
                            url: 'shopping-cart.html'
                        },
                        {
                            text: 'Checkout',
                            url: 'checkout.html'
                        },
                        {
                            text: 'Whishlist',
                            url: 'whishlist.html'
                        },
                        {
                            text: 'Compare',
                            url: 'compare.html'
                        },
                        {
                            text: 'Order Tracking',
                            url: 'order-tracking.html'
                        },
                        {
                            text: 'My Account',
                            url: 'my-account.html'
                        },
                    ]
                }
            ]
        },
        {
            text: 'Pages',
            url : '#',
            current: 'shop',
            extraClass: 'menu-item-has-children has-mega-menu',
            subClass: 'sub-menu',
            mega: true,
            megaContent: [
                {
                    heading: "Basic Page",
                    megaItems: [
                        {
                            text: 'About Us',
                            url: 'about-us.html'
                        },
                        {
                            text: 'Contact',
                            url: 'contact-us.html'
                        },
                        {
                            text: 'Faqs',
                            url: 'faqs.html'
                        },
                        {
                            text: 'Comming Soon',
                            url: 'comming-soon.html'
                        },
                        {
                            text: '404 Page',
                            url: '404-page.html'
                        },
                    ]
                },
                {
                    heading: "Vendor Pages",
                    megaItems: [
                        {
                            text: 'Become a Vendor',
                            url: 'become-a-vendor.html'
                        },
                        {
                            text: 'Vendor Store',
                            url: 'vendor-store.html'
                        },
                        {
                            text: 'Vendor Dashboard Free',
                            url: 'vendor-dashboard-free.html'
                        },
                        {
                            text: 'Vendor Dashboard Pro',
                            url: 'vendor-dashboard-pro.html'
                        },
                    ]
                },
            ]
        },
        {
            text: 'Blogs',
            url : '#',
            current: 'shop',
            extraClass: 'menu-item-has-children has-mega-menu',
            subClass: 'sub-menu',
            mega: true,
            megaContent: [
                {
                    heading: "Blog Layout",
                    megaItems: [
                        {
                            text: 'Grid',
                            url: 'blog-grid.html'
                        },
                        {
                            text: 'Listing',
                            url: 'blog-list.html'
                        },
                        {
                            text: 'Small Thumb',
                            url: 'blog-small-thumb.html'
                        },
                        {
                            text: 'Left Sidebar',
                            url: 'blog-left-sidebar.html'
                        },
                        {
                            text: 'Right Sidebar',
                            url: 'blog-right-sidebar.html'
                        },
                    ]
                },
                {
                    heading: "Single Blog",
                    megaItems: [
                        {
                            text: 'Single 1',
                            url: 'blog-detail.html'
                        },
                        {
                            text: 'Single 2',
                            url: 'blog-detail-2.html'
                        },
                        {
                            text: 'Single 3',
                            url: 'blog-detail-3.html'
                        },
                        {
                            text: 'Single 4',
                            url: 'blog-detail-4.html'
                        },
                    ]
                },
            ]
        },

    ]
