-
    technologyMenuDropdown = [
        {
            text: 'New Arrivals',
            url : '#',
        },{
            text: 'Best Sellers',
            url : '#',
        },{
            text: 'Smartphone',
            url : '#',
        },{
            text: 'Tablets',
            url : '#',
        },{
            text: 'Laptops',
            url : '#',
        },{
            text: 'Sounds',
            url : '#',
        },{
            text: 'Technology Toys',
            url : '#',
        },{
            text: 'Accessories',
            url : '#',
        },
    ]
-
    menuTechnology = [
        {
            text: 'Hot Deal',
            url: 'homepage-10.html',
            icon: 'icon-star'
        },
        {
            text: 'Smartphone',
            url: 'homepage-10.html',
            icon: 'icon-smartphone'
        },
        {
            text: 'Tablets',
            url: 'homepage-10.html',
            icon: 'ion-ipad'
        },
        {
            text: 'Laptop',
            url: 'homepage-10.html',
            icon: 'icon-laptop'
        },
        {
            text: 'Sounds',
            url: 'homepage-10.html',
            icon: 'icon-headphone'
        },
        {
            text: 'Technology Toys',
            url: 'homepage-10.html',
            icon: 'icon-mic2'
        },
        {
            text: 'Accesories',
            url: 'homepage-10.html',
            icon: 'icon-headphones'
        },
    ]