.ps-footer__widgets
    aside.widget.widget_footer.widget_contact-us
        h4.widget-title Contact us
        .widget_content
            p Call us 24/7
            h3 1800 97 97 69
            p 502 New Design Str, Melbourne, Australia <br>
                a(href='mailto:contact@martfury.co') contact@martfury.co
            ul.ps-list--social
                li: a(href='#').facebook: i.fa.fa-facebook
                li: a(href='#').twitter: i.fa.fa-twitter
                li: a(href='#').google-plus: i.fa.fa-google-plus
                li: a(href='#').instagram: i.fa.fa-instagram
    aside.widget.widget_footer
        h4.widget-title Quick links
        ul.ps-list--link
            li: a(href='#') Policy
            li: a(href='#') Term & Condition
            li: a(href='#') Shipping
            li: a(href='#') Return
            li: a(href='faqs.html') FAQs
    aside.widget.widget_footer
        h4.widget-title Company
        ul.ps-list--link
            li: a(href='about-us.html') About Us
            li: a(href='#') Affilate
            li: a(href='#') Career
            li: a(href='contact-us.html') Contact
    aside.widget.widget_footer
        h4.widget-title Bussiness
        ul.ps-list--link
            li: a(href='#') Our Press
            li: a(href='checkout.html') Checkout
            li: a(href='my-account.html') My account
            li: a(href='shop-default.html') Shop
