#cart-mobile.ps-panel--sidebar
    .ps-panel__header
        h3 Shopping Cart
    .navigation__content
        .ps-cart--mobile
            .ps-cart__content
                .ps-product--cart-mobile
                    .ps-product__thumbnail: a(href='#'): img(src="img/products/clothing/7.jpg" alt="")
                    .ps-product__content
                        a(href='#').ps-product__remove: i.icon-cross
                        a(href='product-default.html') MVMTH Classical Leather Watch In Black
                        p
                            strong Sold by:
                            |   YOUNG SHOP
                        small 1 x $59.99
            .ps-cart__footer
                h3 Sub Total:
                    strong $59.99
                figure
                    a(href='shopping-cart.html').ps-btn View Cart
                    a(href='checkout.html').ps-btn Checkout

