include ../../data/menu/menu
include ../../data/menu/menu-product-categories
include ../../data/menu/menu-technology
header.header.header--standard.header--technology(data-sticky="true")
    .header__top
        .container
            .header__left
                p SHOPPING CENTER <strong>for all orders over $100</strong>
            .header__right
                ul.header__top-links
                    li: a(href='#') Store Location
                    li: a(href='#') Track Your Order
                    li
                        .ps-dropdown
                            a(href='#') US Dollar
                            ul.ps-dropdown-menu
                                li: a(href='#') Us Dollar
                                li: a(href='#') Euro
                    li
                        .ps-block--user-header
                            .ps-block__left: i.icon-user
                            .ps-block__right
                                a(href='my-account.html') Login
                                a(href='my-account.html') Register
    .header__content
        .container
            .header__content-left
                a(href='index.html').ps-logo: img(src="img/logo-technology.png" alt="")
                include modules/technology-men-dropdown
            .header__content-center
                form(action="index.html" method="get" class="ps-form--quick-search")
                    .form-group--icon
                        i.icon-chevron-down
                        select.form-control
                            option(value="1") All
                            option(value="1") Smartphone
                            option(value="1") Sounds
                            option(value="1") Technology toys
                    input.form-control(type="text" placeholder="I'm shopping for...")
                    button Search
            .header__content-right
                .header__actions
                    a(href='#').header__extra
                        i.icon-heart
                        span: i 0
                    .ps-cart--mini
                        a(href='#').header__extra
                            i.icon-bag2
                            span: i 0
                        include modules/mini-cart
                    .ps-block--user-header
                        .ps-block__left: i.icon-user
                        .ps-block__right
                            a(href='#') Login
                            a(href='#') Register
    nav.navigation
        .container
            +makeMenu(menuTechnology, 'menu menu--technology')













