.navigation--list
    .navigation__content
        a(href='index.html').navigation__item
            i.icon-home
            span  Home
        a(href='#navigation-mobile').navigation__item.ps-toggle--sidebar
            i.icon-menu
            span  Menu
        a(href='#search-sidebar').navigation__item.ps-toggle--sidebar
            i.icon-magnifier
            span  Search
        a(href='#cart-mobile').navigation__item.ps-toggle--sidebar
            i.icon-bag2
            span  Cart
