#search-sidebar.ps-panel--sidebar
    .ps-panel__header
        form(action="index.html" method="get" class="ps-form--search-mobile")
            .form-group--nest
                input.form-control(type="text" placeholder="Search something...")
                button: i.icon-magnifier
    .navigation__content
