<div class="ps-page--my-account">
  <div class="ps-breadcrumb">
    <div class="container">
      <ul class="breadcrumb">
        <li><a>Home</a></li>
        <li>Change Password</li>
      </ul>
    </div>
  </div>
  <div class="ps-my-account">
    <div class="container">
      <form class="ps-form--account ps-tab-root" action="link.html" method="get">
        <div class="ps-tabs">
          <div class="ps-tab active" id="sign-in">
            <div class="ps-form__content">
              <form name="login-form" id="login-form">
                <h5>Change password</h5>
                <div class="form-group">
                  <input class="form-control" name="oldPassword" [(ngModel)]="changePassword.oldPassword"  type="password" placeholder="Old Password">
                </div>
                <div class="form-group form-forgot">
                  <input class="form-control" name="newPassword" [(ngModel)]="changePassword.newPassword" type="password" placeholder="New Password">
                </div>

                <div class="form-group submtit">
                  <button class="ps-btn ps-btn--fullwidth" (click)="submitPassword()">Change password</button>
                </div>
              </form>
            </div>
            <div class="ps-form__footer">
              <!--<p>Connect with:</p>
              <ul class="ps-list&#45;&#45;social">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
