extends ../../master

block data
    include ../../utilties/product-mixins
    include ../../data/home-1/home-products
    include ../../data/home-3/home-3-products
    include ../../data/home-5/trending-categories
    include ../../data/home-6/categories

block append style
    link(rel="stylesheet", href="css/market-place-4.css")

block page_header
    - let currentPage = 'homepage'
    include ../../shared/headers/header-market-place-4
    include ../../shared/headers/header-mobile

block page_content
    #homepage-6
        - let layout = 'default';
        include ../../partials/homepages/home-6/home-banner
        include ../../partials/sections/site-features
        include ../../partials/homepages/home-6/home-promotions
        include ../../partials/homepages/home-6/deal-hot-of-day
        include ../../partials/sections/top-categories
        include ../../partials/homepages/home-6/categories-box
    - let footer = 'default';
    include ../../shared/footers/footer-3

