.ps-home-categories
    .container
        .ps-section__header
            h3 Top Categories Of The Month
        .ps-section__content
            .row.align-content-lg-stretch
                +column({cols: [4, 4, 4, 6, 12]}): .ps-block--category-2(data-mh="categories")
                    .ps-block__thumbnail: img(src='img/categories/shop/5.jpg' alt="")
                    .ps-block__content
                        h4 Electronics
                        ul
                            li: a(href='shop-default.html') TV Televisions
                            li: a(href='shop-default.html') Air Conditioners
                            li: a(href='shop-default.html') Washing Machines
                            li: a(href='shop-default.html') Audio & Theaters
                            li: a(href='shop-default.html') Office Electronics
                +column({cols: [4, 4, 4, 6, 12]}): .ps-block--category-2(data-mh="categories")
                    .ps-block__thumbnail: img(src='img/categories/shop/1.jpg' alt="")
                    .ps-block__content
                        h4 Clothings
                        ul
                            li: a(href='shop-default.html') Womens
                            li: a(href='shop-default.html') Mens
                            li: a(href='shop-default.html') Bags & Backpacks
                            li: a(href='shop-default.html') Accessories
                +column({cols: [4, 4, 4, 6, 12]}): .ps-block--category-2(data-mh="categories")
                    .ps-block__thumbnail: img(src='img/categories/shop/9.jpg' alt="")
                    .ps-block__content
                        h4 Computers
                        ul
                            li: a(href='shop-default.html') Desktop PC
                            li: a(href='shop-default.html') Laptop
                            li: a(href='shop-default.html') PC Gaming
                            li: a(href='shop-default.html') Storage & Memory
                            li: a(href='shop-default.html') PC Components
                +column({cols: [4, 4, 4, 6, 12]}): .ps-block--category-2(data-mh="categories")
                    .ps-block__thumbnail: img(src='img/categories/shop/2.jpg' alt="")
                    .ps-block__content
                        h4 Home & Kitchen
                        ul
                            li: a(href='shop-default.html') Funitures
                            li: a(href='shop-default.html') Decor
                            li: a(href='shop-default.html') Cookwares
                            li: a(href='shop-default.html') Utensil & Gadgets
                            li: a(href='shop-default.html') Garden Tools
                +column({cols: [4, 4, 4, 6, 12]}): .ps-block--category-2(data-mh="categories")
                    .ps-block__thumbnail: img(src='img/categories/shop/10.jpg' alt="")
                    .ps-block__content
                        h4 Healthy & Beauty
                        ul
                            li: a(href='shop-default.html') Makeup
                            li: a(href='shop-default.html') Skin Care
                            li: a(href='shop-default.html') Hair Care
                            li: a(href='shop-default.html') Tools & Equipments
                            li: a(href='shop-default.html') Perfurmes
                +column({cols: [4, 4, 4, 6, 12]}): .ps-block--category-2(data-mh="categories")
                    .ps-block__thumbnail: img(src='img/categories/shop/6.jpg' alt="")
                    .ps-block__content
                        h4 Jewelry & Watch
                        ul
                            li: a(href='shop-default.html') Pendant
                            li: a(href='shop-default.html') Necklace
                            li: a(href='shop-default.html') Watch
                            li: a(href='shop-default.html') Bracelets
                            li: a(href='shop-default.html') Accessories
