-
    homeCategories = [
        {
            imagePath: 'img/categories/organic/1.jpg',
            title: 'Milks & Creams'
        },{
            imagePath: 'img/categories/organic/2.jpg',
            title: 'Fruits'
        },{
            imagePath: 'img/categories/organic/3.jpg',
            title: 'Vegetables'
        },{
            imagePath: 'img/categories/organic/4.jpg',
            title: 'Ocean Foods'
        },{
            imagePath: 'img/categories/organic/5.jpg',
            title: 'Butters & Eggs'
        },{
            imagePath: 'img/categories/organic/6.jpg',
            title: 'Fresh Meats'
        },
    ]
-
    organicProduct = [
        {
            thumbnail: 'img/products/organic/1.jpg',
            title: 'Locally Grown Strawberries, 1 Pint',
            vendor: 'Young Shop',
            sale: false,
            price: "$20.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/organic/2.jpg',
            title: 'Organic Oranges Valencia 1kg',
            vendor: 'Young Shop',
            sale: false,
            price: "$1.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/organic/3.jpeg',
            title: 'Pineapple (Tropical Gold)',
            vendor: 'Young Shop',
            sale: false,
            price: "$2.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/organic/4.jpg',
            title: 'Tesco Eat Fresh Frozen Lamb Bone in Cube',
            vendor: 'Young Shop',
            sale: false,
            price: "$23.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/organic/5.jpg',
            title: 'MariGold 100% Juice Milk 350ml',
            vendor: 'Young Shop',
            sale: false,
            price: "$3.95",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/organic/6.jpg',
            title: 'HomeSoy Soya Milk Originall',
            vendor: 'Young Shop',
            sale: false,
            price: "$9.95",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/organic/7.jpeg',
            title: 'Australia Banana 16 Pack 2.5 kg',
            vendor: 'Young Shop',
            sale: false,
            price: "$59.95",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/organic/8.jpg',
            title: 'Augason Farms Freeze Dried Beef Chunks',
            vendor: 'Young Shop',
            sale: false,
            price: "$42.95 <del>$49.20</del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '12%'
                }
            ],
        },{
            thumbnail: 'img/products/organic/9.jpg',
            title: 'Vita Coco Coconut Water (Pack of 12)',
            vendor: 'Young Shop',
            sale: false,
            price: "$21.95 <del>$18.20</del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '12%'
                }
            ],
        },{
            thumbnail: 'img/products/organic/10.jpg',
            title: 'Ocean Spray 100% Juice, 10 Ounce Bottle',
            vendor: 'Young Shop',
            sale: false,
            price: "$4.95 <del>$5.20</del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '12%'
                }
            ],
        },
    ]