-
    home_2_recommend_for_you = [
        {
            thumbnail: 'img/products/home-2/recommend/1.jpg',
            title: 'Anderson Composites – Custom Hood',
            price: '$990.50',
            ratingCount: '02',
            rating: true,
            sale: true,
            price: "$990.99 <del>$1050.50 </del>",
        },{
            thumbnail: 'img/products/home-2/recommend/2.jpg',
            title: 'Evolution Sport Drilled and Slotted Brake Kit',
            vendor: "ROBERT’S STORE",
            rating: true,
            sale: true,
            price: "$45.99 <del>$50.50 </del>",
        },{
            thumbnail: 'img/products/home-2/recommend/3.jpg',
            title: 'Depo Black Housing Tail Lights Frs Brz 86',
            vendor: 'Young Shop',
            price: "$100.99 <del>$120.50 </del>",
            rating: true,
            sale: true,
        },{
            thumbnail: 'img/products/home-2/recommend/4.jpg',
            title: 'Anderson Composites – Custom Hood',
            vendor: 'Go Pro',
            price: "$442.99 - $560.00",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/home-2/recommend/5.jpg',
            title: 'Simpson Polymer White Racing Helmet',
            vendor: 'Go Pro',
            price: "$625.99 <del>$770.50 </del>",
            rating: true,
            ratingCount: '01',
            sale: true,

        },{
            thumbnail: 'img/products/home-2/recommend/6.jpg',
            title: 'Gibson – Double Skull Exhaust System',
            vendor: "Global Office",
            price: "$1055.99",
            rating: true,
            ratingCount: '01',
             badge: [
                {
                    type: 'hot',
                    value: 'hot',
                }
            ],
        },
    ]
-
    home_2_categories = [
        {
            thumbnail: 'img/categories/home-2/1.jpg',
            title: 'INTERIOR',
            links: [
                "Seats",
                "Steering Wheels",
                "Dash Cover",
                "Floor Mats",
            ]
        },
        {
            thumbnail: 'img/categories/home-2/2.jpg',
            title: 'EXTERIOR',
            links: [
                "Running Boards",
                "Custom Grilles",
                "Off-Road Bumpers",
                "Body Kits",
            ]
        },
        {
            thumbnail: 'img/categories/home-2/3.jpg',
            title: 'WHEELS & TIRES',
            links: [
                "Custom Wheels",
                "Tires",
                "Factory Wheels",
                "Center Caps",
            ]
        },
        {
            thumbnail: 'img/categories/home-2/4.jpg',
            title: 'PERFORMANCE',
            links: [
                "Exhausted System",
                "Brakes",
                "Performance Chips",
                "Starting & Charging",
            ]
        },
        {
            thumbnail: 'img/categories/home-2/5.jpg',
            title: 'BODY PARTS',
            links: [
                "Mirrors",
                "Hoods",
                "Bumpers",
                "Quater Panels",
            ]
        },
        {
            thumbnail: 'img/categories/home-2/6.jpg',
            title: 'LIGHTING',
            links: [
                "Headlight",
                "Off-Road Light",
                "WSingnal Light",
            ]
        },
    ]