-
    shop_products = [
        {
            thumbnail: 'img/products/shop/1.jpg',
            title: 'Apple iPhone Retina 6s Plus 64GB',
            vendor: "ROBERT’S STORE",
            price: "$1310.00",
        },{
            thumbnail: 'img/products/shop/1.jpg',
            title: 'Apple iPhone Retina 6s Plus 64GB',
            vendor: 'Young Shop',
            price: "$1150.00",
        },{
            thumbnail: 'img/products/shop/2.jpg',
            title: 'Marshall Kilburn Portable Wireless Speaker',
            vendor: 'Go Pro',
            price: "$42.99 - $60.00",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/shop/3.jpg',
            title: 'Herschel Leather Duffle Bag In Brown Color',
            vendor: 'Go Pro',
            price: "$125.30",
            rating: true,
            ratingCount: '01',

        },{
            thumbnail: 'img/products/shop/4.jpg',
            title: 'Xbox One Wireless Controller Black Color',
            vendor: "Global Office",
            price: "$55.99",
            rating: true,
            ratingCount: '01',
             badge: [
                {
                    type: 'hot',
                    value: 'hot',
                }
            ],
        },{
            thumbnail: 'img/products/shop/5.jpg',
            title: 'Grand Slam Indoor Of Show Jumping Novel',
            vendor: "Robert's Store",
            sale: true,
            price: "$32.99 <del>$41.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-37%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/6.jpg',
            title: 'Sound Intone I65 Earphone White Version',
            vendor: "Youngshop",
            sale: true,
            price: "$100.99 <del>$106.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-5%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/7.jpg',
            title: 'Korea Long Sofa Fabric In Blue Navy Color',
            vendor: "Youngshop",
            sale: true,
            price: "$567.89 <del>$670.20 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-16%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/8.jpg',
            title: 'Unero Military Classical Backpack',
            vendor: "Young shop",
            sale: true,
            price: "$35.89 <del>$42.20 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-16%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/9.jpg',
            title: 'Rayban Rounded Sunglass Brown Color',
            vendor: "Young shop",
            price: "$35.89",
            rating: true,
            ratingCount: '02',
        },{
            thumbnail: 'img/products/shop/10.jpg',
            title: 'Sleeve Linen Blend Caro Pane Shirt',
            vendor: "Go Pro",
            price: "$29.39 - $39.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/shop/11.jpg',
            title: "Men’s Sports Runnning Swim Board Shorts",
            vendor: "Robert's Store",
            price: "$13.43",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/shop/12.jpg',
            title: "Paul’s Smith Sneaker InWhite Color",
            vendor: "Global Office",
            price: "$75.44",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/shop/13.jpg',
            title: 'MVMTH Classical Leather Watch In Black',
            vendor: 'Young Shop',
            sale: true,
            price: "$57.99 <del>$62.99 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-7%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/14.jpg',
            title: 'Beat Spill 2.0 Wireless Speaker – White',
            vendor: 'Global Office',
            sale: true,
            price: "$57.99 <del>$62.99 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-7%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/15.jpg',
            title: 'ASUS Chromebook Flip – 10.2 Inch',
            vendor: 'Young Shop',
            sale: true,
            price: "$332.38",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/shop/16.jpg',
            title: 'Apple Macbook Retina Display 12"',
            vendor: 'Young Shop',
            sale: true,
            price: "$1200.00 <del>$1362.99 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-7%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/17.jpg',
            title: 'Samsung UHD TV 24inch',
            vendor: "Robert's Store",
            price: "$599.00",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/shop/18.jpg',
            title: 'EPSION Plaster Printer',
            vendor: "Robert's Store",
            price: "$233.28",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/shop/19.jpg',
            title: 'EPSION Plaster Printer',
            vendor: "Robert's Store",
            price: "$233.28",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/shop/20.jpg',
            title: 'LG White Front Load Steam Washer',
            vendor: 'Young Shop',
            sale: true,
            price: "$1,200.00 <del>$1362.99 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-28%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/21.jpg',
            title: 'Edifier Powered Bookshelf Speakers',
            vendor: 'Young Shop',
            sale: true,
            price: "$85.00",
            rating: true,
            ratingCount: '01',

        },{
            thumbnail: 'img/products/shop/22.jpg',
            title: 'Amcrest Security Camera in White Color',
            vendor: 'Global Office',
            sale: true,
            price: "$45.90 <del>$56.99 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-28%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/23.jpg',
            title: 'DJI Phantom 4 Quadcopter Camera',
            vendor: 'Go Pro',
            sale: true,
            price: "$945.90 <del>$1,207.15 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-22%'
                }
            ],
        },
    ]