.ps-section--gray
    .container
        include modules/clothing
        include modules/technologies
        include modules/electronic
        include modules/garden-and-kitchen
        include modules/healthy
        //-.ps-block--recent-viewed
            .ps-block__header
                h3 Recently Viewed Products
                a(href='shop-default.html') View All
            .ps-block__content
                a(href='#'): img(src="img/products/home-3/healthy/1.jpg" alt="")
                a(href='#'): img(src="img/products/home-3/technology/2.jpg" alt="")
                a(href='#'): img(src="img/products/home-3/healthy/3.jpg" alt="")

