.ps-promotions
    .container
        .row
            +column({cols: [4, 4, 4, 12, 12]}): a(href='#').ps-collection: img(src="img/promotions/home-3-1.jpg" alt="")
            +column({cols: [4, 4, 4, 12, 12]}): a(href='#').ps-collection: img(src="img/promotions/home-3-2.jpg" alt="")
            +column({cols: [4, 4, 4, 12, 12]}): a(href='#').ps-collection: img(src="img/promotions/home-3-3.jpg" alt="")