.ps-section--default.ps-customer-bought
    .ps-section__header
        h3 Customers who bought this item also bought
    .ps-section__content
        .row
            each val, index in shop_products
                if index > 3 && index < 10
                    +column({cols: [3, 3, 4, 6, 6]}): +product(val)
