.ps-product__countdown
    figure
        figcaption  Don't Miss Out!  This promotion will expires in
        ul.ps-countdown(data-time="July 21, 2019 15:37:25")
            li
                span.days
                p Days
            li
                span.hours
                p Hours
            li
                span.minutes
                p Minutes
            li
                span.seconds
                p Seconds
    figure
        figcaption Sold Items
        .ps-product__progress-bar.ps-progress(data-value=Math.round(Math.random() * 100))
            .ps-progress__value: span
            p
                b 20/85
                |  Sold
