aside.widget.widget_product.widget_features
    p
        i.icon-network
        |  Shipping worldwide
    p
        i.icon-3d-rotate
        |  Free 7-day return if eligible, so easy
    p
        i.icon-receipt
        |  Supplier give bills for this product.
    p
        i.icon-credit-card
        |  Pay online or when receiving goods
aside.widget.widget_sell-on-site
    p
        i.icon-store
        |  Sell on Martfury?
        a(href='#')  Register Now !
aside.widget.widget_ads
    a(href='#'): img(src="img/ads/product-ads.png" alt="")
aside.widget.widget_same-brand
    h3 Same Brand
    .widget__content
        each val, index in shop_products
            if index > 4 && index < 7
                +product(val)
