.table-responsive
    table.table.ps-table--product-groupped
        tbody
            tr
                td: a(href='#').ps-btn Read more
                td: a(href='product-default.html').title Aroma Rice Cooker
                td
                    p $275.50
                    p Status:
                        span.ps-tag--out-stock  Out of stock
            tr
                td: a(href='#').ps-btn Read more
                td: a(href='product-default.html').title Korea Fabric Chair In Brown Color
                td
                    p  $320.54
                    p Status:
                        span.ps-tag--out-stock  Out of stock
            tr
                td: a(href='#').ps-btn Read more
                td: a(href='product-default.html').title Set 14-Piece Knife From KichiKit
                td
                    p $85.62
                    p Status:
                        span.ps-tag--out-stock  Out of stock
