.ps-home-ads
    .ps-container
        .row
            +column({cols: [8, 8, 12, 12, 12]}): a(href='#').ps-collection: img(src="img/collection/home-1/ad-1.jpg" alt="")
            +column({cols: [4, 4, 12, 12, 12]}): a(href='#').ps-collection: img(src="img/collection/home-1/ad-2.jpg" alt="")