extends ../../master-2

block data
    include ../../data/home-3/home-3-products
block page_header
    include ../../shared/headers/header-market-place-3
    //include ../../shared/header-mobile

block page_content
    include modules/header-content
    include ../../partials/sections/newletter-fullwidth