extends ../../master-2

block data
block page_header
    include ../../shared/headers/header-automart
    //include ../../shared/header-mobile

block page_content
    include modules/header-content
    include ../../partials/sections/newletter-fullwidth
