.ps-home-promotions
    .container
        .ps-section__header
            h3 WELCOME TO <span>MARTFURY</span> – CUSTOM FURNITURE <span>SHOPPING STORE ONLINE</span>
            p Designer furniture. Locally designed. Globally Crafted.
        .row
            +column({cols: [8, 8, 8, 12, 12]}): a(href='#').ps-collection: img(src="img/promotions/home-8/1.jpg" alt="")
            +column({cols: [4, 4, 4, 12, 12]}): a(href='#').ps-collection: img(src="img/promotions/home-8/2.jpg" alt="")