.ps-about-intro
    .container
        .ps-section__header
            h4 Welcome to Martfury
            h3 We connect millions of buyers and sellers around the world, empowering people & creating economic opportunity for all.
            p Within our markets, millions of people around the world connect, both online and offline, to make, sell and buy unique goods. We also offer a wide range of Seller Services and tools that help creative entrepreneurs start, manage and scale their businesses. Our mission is to reimagine commerce in ways that build a more fulfilling and lasting world, and we’re committed to using the power of business to strengthen communities and empower people.
        .ps-section__content
            .row
                +column({cols: [3, 3, 3, 4, 6]})
                    .ps-block--icon-box
                        i.icon-cube
                        h4 45M
                        p Product for sale
                +column({cols: [3, 3, 3, 4, 6]})
                    .ps-block--icon-box
                        i.icon-store
                        h4 1.8M
                        p Sellers Active on Martfury
                +column({cols: [3, 3, 3, 4, 6]})
                    .ps-block--icon-box
                        i.icon-bag2
                        h4 30.6M
                        p Buyer active on Martfury
                +column({cols: [3, 3, 3, 4, 6]})
                    .ps-block--icon-box
                        i.icon-cash-dollar
                        h4 $2.46M
                        p Annual gross merchandise sales

