.ps-about-milestone.bg--cover(data-background="img/bg/milestone.jpg")
    .container
        .ps-section__header: h3 Discover Martfury’s Journey
        .ps-section__content
            .ps-block--milestones
                .ps-block--milestone.active
                    .ps-block__year
                        span.ps-block__year-number 2004
                        span.ps-block__dot
                    .ps-block__journey
                        .ps-block__thumbnail: img(src="img/users/our-team/1.jpg" alt="")
                        .ps-block__content
                            h4 January 2004
                            p Gets launched as online martketplace merchant by Martin Garrix in United States.
                .ps-block--milestone
                    .ps-block__year
                        span.ps-block__year-number 2006
                        span.ps-block__dot
                    .ps-block__journey
                        .ps-block__thumbnail: img(src="img/users/our-team/2.jpg" alt="")
                        .ps-block__content
                            h4 January 2006
                            p Attracts first investor, Herba Beauty Care, and receives $10 million investment
                .ps-block--milestone
                    .ps-block__year
                        span.ps-block__year-number 2008
                        span.ps-block__dot
                    .ps-block__journey
                        .ps-block__thumbnail: img(src="img/users/our-team/3.jpg" alt="")
                        .ps-block__content
                            h4 January 2008
                            p Gets launched as online martketplace merchant by Martin Garrix in United States.
                .ps-block--milestone
                    .ps-block__year
                        span.ps-block__year-number 2010
                        span.ps-block__dot
                    .ps-block__journey
                        .ps-block__thumbnail: img(src="img/users/our-team/4.jpg" alt="")
                        .ps-block__content
                            h4 January 2008
                            p Gets launched as online martketplace merchant by Martin Garrix in United States.
                .ps-block--milestone
                    .ps-block__year
                        span.ps-block__year-number 2015
                        span.ps-block__dot
                    .ps-block__journey
                        .ps-block__thumbnail: img(src="img/users/our-team/5.jpg" alt="")
                        .ps-block__content
                            h4 January 2015
                            p Gets launched as online martketplace merchant by Martin Garrix in United States.
                .ps-block--milestone
                    .ps-block__year
                        span.ps-block__year-number 2019
                        span.ps-block__dot
                    .ps-block__journey
                        .ps-block__thumbnail: img(src="img/users/our-team/6.jpg" alt="")
                        .ps-block__content
                            h4 January 2015
                            p Gets launched as online martketplace merchant by Martin Garrix in United States.