#site-search.ps-search
    a(href='#').ps-btn--close
    .ps-search__content
        form(action="do_action" method="post" class="ps-form--primary-search")
            input.form-control(type="text" placeholder="Search for...")
            button: i.aroma-magnifying-glass
