include ../../data/footer/data-footer
footer.ps-footer.ps-footer--3
    .container
        .ps-block--site-features.ps-block--site-features-2
            .ps-block__item
                .ps-block__left: i.icon-rocket
                .ps-block__right
                    h4 Free Delivery
                    p For all oders over $99
            .ps-block__item
                .ps-block__left: i.icon-sync
                .ps-block__right
                    h4 90 Days Return
                    p If goods have problems
            .ps-block__item
                .ps-block__left: i.icon-credit-card
                .ps-block__right
                    h4 Secure Payment
                    p 100% secure payment
            .ps-block__item
                .ps-block__left: i.icon-bubbles
                .ps-block__right
                    h4 24/7 Support
                    p Dedicated support
        include modules/footer-widgets
        include modules/footer-links
        .ps-footer__copyright
            p © 2018 Martfury. All Rights Reserved
            p
                span We Using Safe Payment For:
                a(href='#'): img(src="img/payment-method/1.jpg" alt="")
                a(href='#'): img(src="img/payment-method/2.jpg" alt="")
                a(href='#'): img(src="img/payment-method/3.jpg" alt="")
                a(href='#'): img(src="img/payment-method/4.jpg" alt="")
                a(href='#'): img(src="img/payment-method/5.jpg" alt="")


