.ps-promotions 
    .container
        .row
            +column({cols: [6, 6, 6, 12, 12]}): a(href='shop-default.html').ps-collection: img(src="img/promotions/home-6/1.jpg" alt="")
            +column({cols: [6, 6, 6, 12, 12]}): a(href='shop-default.html').ps-collection: img(src="img/promotions/home-6/2.jpg" alt="")