.ps-shop-brand
    a(href='#'): img(src="img/brand/1.jpg" alt="")
    a(href='#'): img(src="img/brand/2.jpg" alt="")
    a(href='#'): img(src="img/brand/3.jpg" alt="")
    a(href='#'): img(src="img/brand/4.jpg" alt="")
    a(href='#'): img(src="img/brand/5.jpg" alt="")
    a(href='#'): img(src="img/brand/6.jpg" alt="")
    a(href='#'): img(src="img/brand/7.jpg" alt="")
    a(href='#'): img(src="img/brand/8.jpg" alt="")