.ps-section--default.ps-home-blog
    .container
        .ps-section__header
            h3 News
            ul.ps-section__links
                li: a(href='#') News
                li: a(href='#') Review Products
                li: a(href='#') Tips & Tricks
                li: a(href='#') Promotions
                li: a(href='#') Videos
                li: a(href='#') See All
        .ps-section__content
            .row
                +column({cols: [4, 4, 4, 12, 12]})
                    .ps-post
                        .ps-post__thumbnail
                            a(href='blog-detail.html').ps-post__overlay
                            img(src="img/blog/organic/1.jpg" alt="")
                        .ps-post__content
                            a(href='#').ps-post__meta Tips & Tricks
                            a(href='#').ps-post__title How To Make A Fresh Juice Blended For Your Family?
                            p December 17, 2017 by
                                a(href='#')  drfurion
                +column({cols: [4, 4, 4, 12, 12]})
                    .ps-post
                        .ps-post__thumbnail
                            .ps-post__badge: i.icon-volume-high
                            a(href='blog-detail.html').ps-post__overlay
                            img(src="img/blog/organic/2.jpg" alt="")
                        .ps-post__content
                            a(href='#').ps-post__meta Review Product
                            a(href='#').ps-post__title Fresh Eggs From Caroline’s Farm
                            p December 17, 2017 by
                                a(href='#')  drfurion
                +column({cols: [4, 4, 4, 12, 12]})
                    .ps-post
                        .ps-post__thumbnail
                            .ps-post__badge: i.icon-volume-high
                            .ps-post__badge: i.icon-volume-high
                            a(href='blog-detail.html').ps-post__overlay
                            img(src="img/blog/organic/3.jpg" alt="")
                        .ps-post__content
                            a(href='#').ps-post__meta News
                            a(href='#').ps-post__title Discover Fresh Organic Farms In Switzeland Villages
                            p December 17, 2017 by
                                a(href='#')  drfurion