-
    recommend_items = [
        {
            thumbnail: 'img/products/shop/recommended/1.jpg',
            title: 'Ciate Palemore Lipstick Bold Red Color',
            vendor: 'Young Shop',
            sale: true,
            price: "$42.99 <del>$60.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-37%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/recommended/2.jpg',
            title: 'Set 30 Piece Korea StartSkin Natural Mask',
            vendor: "Robert's Store",
            sale: true,
            price: "$32.99 <del>$60.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-37%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/recommended/3.jpg',
            title: 'Baxter Care Hair Kit For Bearded Mens',
            vendor: "Go Pro",
            sale: true,
            price: "$93.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-25%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/recommended/4.jpg',
            title: 'Letter Printed Cushion Cover Cotton',
            vendor: "Go Pro",
            sale: true,
            price: "$13.00 <del>$20.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-46%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/recommended/5.jpg',
            title: 'Amcrest Security Camera in White Color',
            vendor: "Young Shop",
            sale: true,
            price: "$13.00 <del>$20.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-46%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/recommended/6.jpg',
            title: 'LG White Front Load Steam Washer',
            vendor: "Young Shop",
            sale: true,
            price: "$1025.00 <del>$1422.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-28%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/recommended/7.jpg',
            title: 'Samsung UHD TV 24inch',
            vendor: "Robert's Store",
            price: "$599.00",
            rating: true,
            ratingCount: '01',
        },
    ]
-
    best_seller_items = [
        {
            thumbnail: 'img/products/shop/best/1.jpg',
            title: 'Sleeve Linen Blend Caro Pane Shirt',
            vendor: 'Young Shop',
            price: "$22.99 - $32.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/shop/best/2.jpg',
            title: 'MVMTH Classical Leather Watch In Black',
            vendor: 'Young Shop',
            sale: true,
            price: "$57.99 <del>$62.99 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-7%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/best/3.jpg',
            title: 'Unero Military Classical Backpack',
            vendor: 'Young Shop',
            sale: true,
            price: "$35.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-16%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/best/4.jpg',
            title: 'Sound Intone I65 Earphone White Version',
            vendor: "Go Pro",
            sale: true,
            price: "$100.00 <del>$105.00 </del>",
            rating: true,
            ratingCount: '23',
            badge: [
                {
                    type: 'sale',
                    value: '-5%'
                }
            ],
        },{
            thumbnail: 'img/products/shop/best/5.jpg',
            title: 'Herschel Leather Duffle Bag In Brown Color',
            vendor: "Global Office",
            price: "$125.30",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/shop/best/6.jpg',
            title: 'Xbox One Wireless Controller Black Color',
            vendor: "Global Office",
            sale: true,
            price: "$1025.00 <del>$1422.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'hot',
                    value: 'Hot'
                }
            ],
        },{
            thumbnail: 'img/products/shop/best/7.jpg',
            title: 'Samsung UHD TV 24inch',
            vendor: "Robert's Store",
            price: "$599.00",
            rating: true,
            ratingCount: '01',
        },
    ]