-
    shop_categories = [
        {
            thumbnail: 'img/categories/shop/1.jpg',
            title: 'Clothing & Apparel',
            links: [
                "Accessories",
                "Bags",
                "Kid's Fashion",
                "Mens",
                "Shoes",
            ]
        },
        {
            thumbnail: 'img/categories/shop/2.jpg',
            title: 'Garden & Kitchen',
            links: [
                "Cookware",
                "Decoration",
                "Furniture",
                "Garden Tools",
                "Home Improvement",
            ]
        },
        {
            thumbnail: 'img/categories/shop/3.jpg',
            title: 'Consumer Electrics',
            links: [
                "Air Conditioners",
                "Audios & Theaters",
                "Car Electronics",
                "Office Electronics",
                "Refrigerations",
            ]
        },
        {
            thumbnail: 'img/categories/shop/4.jpg',
            title: 'Health & Beauty',
            links: [
                "Equipments",
                "Hair Care",
                "Perfumer",
                "Skin Care",
            ]
        },
        {
            thumbnail: 'img/categories/shop/5.jpg',
            title: 'Computers & Technologies',
            links: [
                "Desktop PC",
                "Laptop",
                "Smartphones",
            ]
        },
        {
            thumbnail: 'img/categories/shop/6.jpg',
            title: 'Jewelry & Watches',
            links: [
                "Gemstones Jewelry",
                "Men's Watches",
                "Women's Watches",
            ]
        },
        {
            thumbnail: 'img/categories/shop/7.jpg',
            title: 'Phone & Accessories',
            links: [
                "Iphone 8",
                "Iphone X",
                "Samsung Note 8",
                "Samsung S8",
            ]
        },
        {
            thumbnail: 'img/categories/shop/8.jpg',
            title: 'Sport & Outdoor',
            links: [
                "Freezer Burn",
                "Frigde Cooler",
                "Wine Cabinets",
            ]
        },
    ]