-
    categories_1 = [
        {
            text: 'Clothing & Apparel',
            url : 'shop-default.html',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Womens',
                    url: 'shop-default.html'
                },
                {
                    text: 'Mens',
                    url: 'shop-default.html'
                },
                {
                    text: 'Bags',
                    url: 'shop-default.html'
                },
                {
                    text: 'Sunglasses',
                    url: 'shop-default.html'
                },
                {
                    text: 'Accessories',
                    url: 'shop-default.html'
                },
                {
                    text: "Kid's Fashion",
                    url: 'shop-default.html'
                },
            ]
        },
        {
            text: 'Garden & Kitchen',
            url : 'shop-default.html',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Cookware',
                    url: 'shop-default.html'
                },
                {
                    text: 'Decoration',
                    url: 'shop-default.html'
                },
                {
                    text: 'Furniture',
                    url: 'shop-default.html'
                },
                {
                    text: 'Garden Tools',
                    url: 'shop-default.html'
                },
                {
                    text: 'Home Improvement',
                    url: 'shop-default.html'
                },
                {
                    text: "Powers And Hand Tools",
                    url: 'shop-default.html'
                },
                {
                    text: "Utensil & Gadget",
                    url: 'shop-default.html'
                },
            ]
        },
        {
            text: 'Consumer Electrics',
            url : 'shop-default.html',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Air Conditioners',
                    url: 'shop-default.html',
                    extraClass: 'menu-item-has-children',
                    subClass: 'sub-menu',
                    subMenu: [
                        {
                            text: "Accessories",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Type Hanging Cell",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Type Hanging Wall",
                            url: 'shop-default.html'
                        },
                    ]
                },
                {
                    text: 'Audios & Theaters',
                    url: 'shop-default.html',
                    extraClass: 'menu-item-has-children',
                    subClass: 'sub-menu',
                    subMenu: [
                        {
                            text: "Headphone",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Home Theater System",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Speakers",
                            url: 'shop-default.html'
                        },
                    ]
                },
                {
                    text: 'Car Electronics',
                    url: 'shop-default.html',
                    extraClass: 'menu-item-has-children',
                    subClass: 'sub-menu',
                    subMenu: [
                        {
                            text: "Audio & Video",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Car Security",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Radar Detector",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Vehicle GPS",
                            url: 'shop-default.html'
                        },
                    ]
                },
                {
                    text: 'Office Electronics',
                    url: 'shop-default.html',
                    extraClass: 'menu-item-has-children',
                    subClass: 'sub-menu',
                    subMenu: [
                        {
                            text: "Printers",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Projectors",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Scanners",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Store & Business",
                            url: 'shop-default.html'
                        },
                    ]
                },
                {
                    text: 'TV Televisions',
                    url: 'shop-default.html',
                    extraClass: 'menu-item-has-children',
                    subClass: 'sub-menu',
                    subMenu: [
                        {
                            text: "4K Ultra HD TVs",
                            url: 'shop-default.html'
                        },
                        {
                            text: "LED TVs",
                            url: 'shop-default.html'
                        },
                        {
                            text: "OLED TVs",
                            url: 'shop-default.html'
                        },
                    ]
                },
                {
                    text: 'Washing Machines',
                    url: 'shop-default.html',
                    extraClass: 'menu-item-has-children',
                    subClass: 'sub-menu',
                    subMenu: [
                        {
                            text: "Type Drying Clothes",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Type Horizontal",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Type Vertical",
                            url: 'shop-default.html'
                        },
                    ]
                },
                {
                    text: 'Refrigerators',
                    url: 'shop-default.html',
                }
            ]
        },
        {
            text: 'Health & Beauty',
            url : 'shop-default.html',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Equipments',
                    url: 'shop-default.html'
                },
                {
                    text: 'Hair Care',
                    url: 'shop-default.html'
                },
                {
                    text: 'Perfumer',
                    url: 'shop-default.html'
                },
                {
                    text: 'Skin Care',
                    url: 'shop-default.html'
                },
            ]
        },
        {
            text: 'Computers & Technologies',
            url : 'shop-default.html',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Desktop PC',
                    url: 'shop-default.html'
                },
                {
                    text: 'Laptop',
                    url: 'shop-default.html'
                },
                {
                    text: 'Smartphones',
                    url: 'shop-default.html'
                },
            ]
        },
        {
            text: 'Jewelry & Watches',
            url : 'shop-default.html',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Gemstone Jewelry',
                    url: 'shop-default.html'
                },
                {
                    text: "Men\'s Watches",
                    url: 'shop-default.html'
                },
                {
                    text: "Women's Watches",
                    url: 'shop-default.html'
                },
            ]
        },
        {
            text: 'Phones & Accessories',
            url : 'shop-default.html',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Iphone 8',
                    url: 'shop-default.html'
                },
                {
                    text: "Iphone X",
                    url: 'shop-default.html'
                },
                {
                    text: "Sam Sung Note 8",
                    url: 'shop-default.html'
                },
                {
                    text: "Sam Sung S8",
                    url: 'shop-default.html'
                },
            ]
        },
        {
            text: 'Sport & Outdoor',
            url : 'shop-default.html',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Freezer Burn',
                    url: 'shop-default.html'
                },
                {
                    text: "Fridge Cooler",
                    url: 'shop-default.html'
                },
                {
                    text: "Wine Cabinets",
                    url: 'shop-default.html'
                },
            ]
        },
        {
            text: 'Babies & Moms',
            url : 'shop-default.html',
        },
        {
            text: 'Books & Office',
            url : 'shop-default.html',
        },
        {
            text: 'Cars & Motocycles',
            url : 'shop-default.html',
        }
    ]
-
    shop_categories_catalog = [
        {
            text: 'Clothing & Apparel',
            url : 'shop-default.html',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Womens',
                    url: 'shop-default.html'
                },
                {
                    text: 'Mens',
                    url: 'shop-default.html'
                },
                {
                    text: 'Bags',
                    url: 'shop-default.html'
                },
                {
                    text: 'Sunglasses',
                    url: 'shop-default.html'
                },
                {
                    text: 'Accessories',
                    url: 'shop-default.html'
                },
                {
                    text: "Kid's Fashion",
                    url: 'shop-default.html'
                },
            ]
        },
        {
            text: 'Garden & Kitchen',
            url : 'shop-default.html',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Cookware',
                    url: 'shop-default.html'
                },
                {
                    text: 'Decoration',
                    url: 'shop-default.html'
                },
                {
                    text: 'Furniture',
                    url: 'shop-default.html'
                },
                {
                    text: 'Garden Tools',
                    url: 'shop-default.html'
                },
                {
                    text: 'Home Improvement',
                    url: 'shop-default.html'
                },
                {
                    text: "Powers And Hand Tools",
                    url: 'shop-default.html'
                },
                {
                    text: "Utensil & Gadget",
                    url: 'shop-default.html'
                },
            ]
        },
        {
            text: 'Consumer Electrics',
            url : 'shop-default.html',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Air Conditioners',
                    url: 'shop-default.html',
                    extraClass: 'menu-item-has-children',
                    subClass: 'sub-menu',
                    subMenu: [
                        {
                            text: "Accessories",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Type Hanging Cell",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Type Hanging Wall",
                            url: 'shop-default.html'
                        },
                    ]
                },
                {
                    text: 'Audios & Theaters',
                    url: 'shop-default.html',
                    extraClass: 'menu-item-has-children',
                    subClass: 'sub-menu',
                    subMenu: [
                        {
                            text: "Headphone",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Home Theater System",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Speakers",
                            url: 'shop-default.html'
                        },
                    ]
                },
                {
                    text: 'Car Electronics',
                    url: 'shop-default.html',
                    extraClass: 'menu-item-has-children',
                    subClass: 'sub-menu',
                    subMenu: [
                        {
                            text: "Audio & Video",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Car Security",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Radar Detector",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Vehicle GPS",
                            url: 'shop-default.html'
                        },
                    ]
                },
                {
                    text: 'Office Electronics',
                    url: 'shop-default.html',
                    extraClass: 'menu-item-has-children',
                    subClass: 'sub-menu',
                    subMenu: [
                        {
                            text: "Printers",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Projectors",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Scanners",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Store & Business",
                            url: 'shop-default.html'
                        },
                    ]
                },
                {
                    text: 'TV Televisions',
                    url: 'shop-default.html',
                    extraClass: 'menu-item-has-children',
                    subClass: 'sub-menu',
                    subMenu: [
                        {
                            text: "4K Ultra HD TVs",
                            url: 'shop-default.html'
                        },
                        {
                            text: "LED TVs",
                            url: 'shop-default.html'
                        },
                        {
                            text: "OLED TVs",
                            url: 'shop-default.html'
                        },
                    ]
                },
                {
                    text: 'Washing Machines',
                    url: 'shop-default.html',
                    extraClass: 'menu-item-has-children',
                    subClass: 'sub-menu',
                    subMenu: [
                        {
                            text: "Type Drying Clothes",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Type Horizontal",
                            url: 'shop-default.html'
                        },
                        {
                            text: "Type Vertical",
                            url: 'shop-default.html'
                        },
                    ]
                },
                {
                    text: 'Refrigerators',
                    url: 'shop-default.html',
                }
            ]
        },
        {
            text: 'Computers & Technologies',
            url : 'shop-default.html',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Desktop PC',
                    url: 'shop-default.html'
                },
                {
                    text: 'Laptop',
                    url: 'shop-default.html'
                },
                {
                    text: 'Smartphones',
                    url: 'shop-default.html'
                },
            ]
        },
        {
            text: 'Jewelry & Watches',
            url : 'shop-default.html',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Gemstone Jewelry',
                    url: 'shop-default.html'
                },
                {
                    text: "Men\'s Watches",
                    url: 'shop-default.html'
                },
                {
                    text: "Women's Watches",
                    url: 'shop-default.html'
                },
            ]
        },
        {
            text: 'Phones & Accessories',
            url : 'shop-default.html',
            extraClass: 'menu-item-has-children',
            subClass: 'sub-menu',
            subMenu: [
                {
                    text: 'Iphone 8',
                    url: 'shop-default.html'
                },
                {
                    text: "Iphone X",
                    url: 'shop-default.html'
                },
                {
                    text: "Sam Sung Note 8",
                    url: 'shop-default.html'
                },
                {
                    text: "Sam Sung S8",
                    url: 'shop-default.html'
                },
            ]
        },
    ]