-
    footerLinks = [
        {
            text: 'Consumer Electric:',
            links: [
                'Air Conditioners',
                'Audios & Theaters',
                'Car Electronics',
                'Office Electronics',
                'TV Televisions',
                'Washing Machines',
            ]
        },
        {
            text: 'Clothing & Apparel:',
            links: [
                'Printers',
                'Projectors',
                'Scanners',
                'Store & Business',
                '4K Ultra HD TVs',
                'LED TVs',
                'OLED TVs',
            ]
        },
        {
            text: 'Home, Garden & Kitchen:',
            links: [
                'Cookware',
                'Decoration',
                'Furniture',
                'Garden Tools',
                'Garden Equipments',
                'Powers And Hand Tools',
                'Utensil & Gadget',
            ]
        },
        {
            text: 'Health & Beauty:',
            links: [
                'Hair Care',
                'Decoration',
                'Hair Care',
                'Makeup',
                'Body Shower',
                'Skin Care',
                'Cologine',
                'Perfume'
            ]
        },
        {
            text: 'Jewelry & Watches:',
            links: [
                'Necklace',
                'Pendant',
                'Diamond Ring',
                'Sliver Earing',
                'Leather Watcher',
                'Gucci',
            ]
        },
        {
            text: 'Computer & Technologies:',
            links: [
                'Desktop PC',
                'Laptop',
                'Smartphones',
                'Tablet',
                'Game Controller',
                'Audio & Video',
                'Wireless Speaker',
                'Done',
            ]
        },
    ]