-
    home_1_new_arrivals = [
        {
            thumbnail: 'img/products/arrivals/1.jpg',
            title: 'Apple iPhone Retina 6s Plus 32GB',
            price: '$990.50',
            rating: false
        },{
            thumbnail: 'img/products/arrivals/1.jpg',
            title: 'Apple iPhone Retina 6s Plus 64GB',
            price: '$1120.50',
            rating: false
        },{
            thumbnail: 'img/products/arrivals/1.jpg',
            title: 'Apple iPhone Retina 6s Plus 128GB',
            price: '$1220.50',
            rating: false
        },{
            thumbnail: 'img/products/arrivals/2.jpg',
            title: 'Marshall Kilburn Portable Wireless Speaker',
            price: '$36.78 – $56.99',
            rating: true,
            ratingCount: '01'
        },{
            thumbnail: 'img/products/arrivals/3.jpg',
            title: 'Herschel Leather Duffle Bag In Brown Color',
            price: '$125.30',
            rating: true,
            ratingCount: '02'
        },{
            thumbnail: 'img/products/arrivals/4.jpg',
            title: 'Xbox One Wireless Controller Black Color',
            price: '$55.30',
            rating: true,
            ratingCount: '02'
        },{
            thumbnail: 'img/products/arrivals/5.jpg',
            title: 'Grand Slam Indoor Of Show Jumping Novel',
            sale: true,
            price: "$41.27 <del>$52.99 </del>",
            rating: true,
            ratingCount: '02'
        },{
            thumbnail: 'img/products/arrivals/6.jpg',
            title: 'Sound Intone I65 Earphone White Version',
            sale: true,
            price: "$41.27 <del>$62.39 </del>",
            rating: true,
            ratingCount: '01'
        },
    ]
-
    home_1_garden_kitchen = [
        {
            thumbnail: 'img/products/home/1.jpg',
            title: 'Korea Long Sofa Fabric In Blue Navy Color',
            vendor: 'Young Shop',
            sale: true,
            price: "$567.99 <del>$670.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-16%'
                }
            ],

        },{
            thumbnail: 'img/products/home/2.jpg',
            title: 'Aroma Rice Cooker',
            vendor: 'Global Office',
            sale: false,
            price: "$101.99",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/home/3.jpg',
            title: 'Simple Plastice Chair In White Color',
            vendor: 'Young Shop',
            sale: true,
            price: "$42.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-25%'
                }
            ],
        },{
            thumbnail: 'img/products/home/4.jpg',
            title: 'Korea Fabric Chair In Brown Colorr',
            vendor: 'Global Office',
            sale: false,
            price: "$320.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/home/5.jpg',
            title: 'Set 14-Piece Knife From KichiKit',
            vendor: 'Global Office',
            sale: false,
            price: "$85.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/home/6.jpg',
            title: 'Magic Bullet NutriBullet Pro 900 Series Blender',
            vendor: "Global Store" ,
            sale: false,
            price: "$92.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/home/7.jpg',
            title: 'Letter Printed Cushion Cover Cotton',
            vendor: "Young Shop" ,
            sale: true,
            price: "$42.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-46%'
                }
            ],
        },
    ]
-
    home_1_clothing = [
        {
            thumbnail: 'img/products/clothing/1.jpg',
            title: 'Herschel Leather Duffle Bag In Brown Color',
            vendor: 'Young Shop',
            sale: true,
            price: "$567.99 <del>$670.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-16%'
                }
            ],

        },{
            thumbnail: 'img/products/clothing/2.jpg',
            title: 'Unero Military Classical Backpack',
            vendor: 'Global Office',
            sale: false,
            price: "$101.99",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/clothing/3.jpg',
            title: 'Rayban Rounded Sunglass Brown Color',
            vendor: 'Young Shop',
            sale: true,
            price: "$42.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-25%'
                }
            ],
        },{
            thumbnail: 'img/products/clothing/4.jpg',
            title: 'Sleeve Linen Blend Caro Pane Shirt',
            vendor: 'Global Office',
            sale: false,
            price: "$320.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/clothing/5.jpg',
            title: 'Men’s Sports Runnning Swim Board Shorts',
            vendor: 'Global Office',
            sale: false,
            price: "$85.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/clothing/6.jpg',
            title: 'Paul’s Smith Sneaker InWhite Color',
            vendor: "Global Store" ,
            sale: false,
            price: "$92.00",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'outStock',
                    value: 'Out Of Stock'
                }
            ],
        },{
            thumbnail: 'img/products/clothing/7.jpg',
            title: 'MVMTH Classical Leather Watch In Black',
            vendor: "Young Shop" ,
            sale: true,
            price: "$42.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-46%'
                }
            ],
        },
    ]
-
    home_1_electronic = [
        {
            thumbnail: 'img/products/electronic/1.jpg',
            title: 'Marshall Kilburn Portable Wireless',
            vendor: 'Go Pro',
            sale: true,
            price: "$567.99 <del>$670.00 </del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '-16%'
                }
            ],

        },{
            thumbnail: 'img/products/electronic/2.jpg',
            title: 'Xbox One Wireless Controller Black Color',
            vendor: 'Global Office',
            sale: false,
            price: "$101.99",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'hot',
                    value: 'hot'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/3.jpg',
            title: 'Sound Intone I65 Earphone White Version',
            vendor: 'Young Shop',
            sale: true,
            price: "$42.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-25%'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/4.jpg',
            title: 'Samsung Gear VR Virtual Reality Headset',
            vendor: 'Global Office',
            sale: false,
            price: "$320.00",
            rating: true,
            ratingCount: '01',

        },{
            thumbnail: 'img/products/electronic/5.jpg',
            title: 'Samsung UHD TV 24inch',
            vendor: 'Global Office',
            sale: false,
            price: "$85.00",
            rating: true,
            ratingCount: '01',

        },{
            thumbnail: 'img/products/electronic/6.jpg',
            title: 'EPSION Plaster Printer',
            vendor: "Global Store" ,
            sale: false,
            price: "$92.00",
            rating: true,
            ratingCount: '01',

        },{
            thumbnail: 'img/products/electronic/7.jpg',
            title: 'LG White Front Load Steam Washer',
            vendor: "Young Shop" ,
            sale: true,
            price: "$42.00 <del>$60.00 </del>",
            rating: true,
            ratingCount: '02',
            badge: [
                {
                    type: 'sale',
                    value: '-46%'
                }
            ],
        },{
            thumbnail: 'img/products/electronic/8.jpg',
            title: 'Edifier Powered Bookshelf Speakers',
            vendor: "Go Pro" ,
            sale: false,
            price: "$42.00",
            rating: true,
            ratingCount: '02',
        },{
            thumbnail: 'img/products/electronic/9.jpg',
            title: 'Amcrest Security Camera in White Color',
            vendor: "Go Pro" ,
            sale: false,
            price: "$42.00",
            rating: true,
            ratingCount: '02',
        },{
            thumbnail: 'img/products/electronic/10.jpg',
            title: 'Amcrest Security Camera in White Color',
            vendor: "Go Pro" ,
            sale: false,
            price: "$42.00",
            rating: true,
            ratingCount: '02',
        },
    ]