.ps-panel--sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    overflow-y: auto;
    z-index: 10001;
    background-color: #fff;
    @include transform(translateX(-100%));
    transition: all .5s cubic-bezier(0.7, 0, .3, 1) 0s;
    @extend %list-reset;

    .ps-panel__header {
        position: relative;
        text-align: center;
        padding: 15px 20px;
        background-color: $color-1st;

        h3 {
            margin-bottom: 0;
            font-weight: 600;
            color: #ffffff;
            font-size: 1.6rem;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: .05em;
        }

        .ps-btn--close {
            @include vertical-align();
            right: 10px;

            &:before, &:after {
                background-color: #ffffff;
                height: 60%;
            }
        }
    }

    .ps-panel__content {
        padding-top: 10px;
        padding-bottom: 70px;
    }

    &.active {
        @include transform(translateX(0));
    }

    @include media("<xs") {
        width: 100%;
        max-width: 100%;
    }
}