.table-responsive
    table.table.ps-table.ps-table--vendor
        thead
            tr
                th date
                th Order ID
                th Shipping
                th Total Price
                th Status
                th Information
        tbody
            tr
                td Nov 4, 2019
                td: a(href='#') MS46891357
                td $00.00
                td $295.47
                td: a(href='#') Open
                td: a(href='#') View Detail
            tr
                td Nov 2, 2017
                td: a(href='#') AP47305441
                td $00.00
                td $25.47
                td Close
                td: a(href='#') View Detail

