.table-responsive
    table.table.ps-table--shopping-cart
        thead
            tr
                th Product name
                th PRICE
                th QUANTITY
                th TOTAL
                th

        tbody
            tr

                td
                    .ps-product--cart
                        .ps-product__thumbnail: a(href='product-default.html'): img(src="img/products/electronic/1.jpg" alt="")
                        .ps-product__content
                            a(href='product-default.html') Marshall Kilburn Wireless Bluetooth Speaker, Black (A4819189)
                            p Sold By:
                                strong  YOUNG SHOP
                td.price $205.00
                td
                    .form-group--number
                        button.up +
                        button.down -
                        input.form-control(type="text" placeholder="1" value="1")
                td $205.00
                td: a(href='#'): i.icon-cross
            tr

                td
                    .ps-product--cart
                        .ps-product__thumbnail: a(href='product-default.html'): img(src="img/products/clothing/2.jpg" alt="")
                        .ps-product__content
                            a(href='product-default.html') Unero Military Classical Backpack
                            p Sold By:
                                strong  YOUNG SHOP
                td.price $205.00
                td
                    .form-group--number
                        button.up +
                        button.down -
                        input.form-control(type="text" placeholder="1" value="1")
                td $205.00
                td: a(href='#'): i.icon-cross




