.table-responsive
    table.table.table-bordered.ps-table.ps-table--specification
        tbody
            tr
                td Color
                td Black, Gray
            tr
                td Style
                td Ear Hook
            tr
                td Wireless
                td Yes
            tr
                td Dimensions
                td 5.5 x 5.5 x 9.5 inches
            tr
                td Weight
                td 6.61 pounds
            tr
                td Battery Life
                td 20 hours
            tr
                td Bluetooth
                td Yes