.table-responsive
    table.table.ps-table--compare
        tbody
            tr
                td.heading(rowspan=2) Product
                td: a(href='#') Remove
                td: a(href='#') Remove
                td: a(href='#') Remove
            tr
                td
                    .ps-product--compare
                        .ps-product__thumbnail: a(href='product-default.html'): img(src="img/products/electronic/1.jpg" alt="")
                        .ps-product__content
                            a(href='product-default.html') Marshall Kilburn Wireless Bluetooth Speaker, Black (A4819189)
                td
                    .ps-product--compare
                        .ps-product__thumbnail: a(href='product-default.html'): img(src="img/products/electronic/3.jpg" alt="")
                        .ps-product__content
                            a(href='product-default.html') Harman Kardon Onxy Studio 2.0 Wireless Bluetooth Speaker
                td
                    .ps-product--compare
                        .ps-product__thumbnail: a(href='product-default.html'): img(src="img/products/electronic/8.jpg" alt="")
                        .ps-product__content
                            a(href='product-default.html') ACHEER 25W  Bluetooth Speaker (A320)
            tr
                td.heading Rating
                td: +rating(true)
                td: +rating(true)
                td: +rating(true)
            tr
                td.heading Price
                td: h4.price.sale $235,35  <del>$299.99</del> <small>(-20%)</small>
                td: h4.price $209.39
                td: h4.price $79.39
            tr
                td.heading Availability
                td: span.in-stock In Stock
                td: span.in-stock In Stock
                td: span.out-stock Out of Stock
            tr
                td.heading Shipping
                td Free Shipping
                td Free Shipping
                td Free Shipping
            tr
                td.heading Sold By
                td: a(href='#').sold-by DigitalWorld Us
                td: a(href='#').sold-by Harman Kadon
                td: a(href='#').sold-by Amazon
            tr
                td.heading Connect Technology
                td Wireless & BlueTooth
                td Wireless & BlueTooth
                td BlueTooth
            tr
                td.heading Item Dimensions
                td 5.51x5.51x9.53 In
                td 7.52 x 12.05 x 5.08 in
                td 11.14 x 16.54 x 9.25 in
            tr
                td.heading Item Weight
                td 6.61 lbs
                td 5.61 lbs
                td 3.87 lbs
            tr
                td.heading Power Source
                td AC Battery
                td --
                td Plug-in Electric
            tr
                td.heading
                td: a(href='#').ps-btn Add To Cart
                td: a(href='#').ps-btn Add To Cart
                td: a(href='#').ps-btn Add To Cart


