.table-responsive
    table.table.ps-table--whishlist
        thead
            tr
                th
                th Product name
                th Unit Price
                th Stock Status
                th

        tbody
            tr
                td: a(href='#'): i.icon-cross
                td
                    .ps-product--cart
                        .ps-product__thumbnail: a(href='product-default.html'): img(src="img/products/electronic/1.jpg" alt="")
                        .ps-product__content
                            a(href='product-default.html') Marshall Kilburn Wireless Bluetooth Speaker, Black (A4819189)
                td.price $205.00
                td: span.ps-tag.ps-tag--in-stock In-stock
                td: a(href='#').ps-btn Add to cart
            tr
                td: a(href='#'): i.icon-cross
                td
                    .ps-product--cart
                        .ps-product__thumbnail: a(href='product-default.html'): img(src="img/products/clothing/2.jpg" alt="")
                        .ps-product__content
                            a(href='product-default.html') Unero Military Classical Backpack
                td.price $108.00
                td: span.ps-tag.ps-tag--in-stock In-stock
                td: a(href='#').ps-btn Add to cart
            tr
                td: a(href='#'): i.icon-cross
                td
                    .ps-product--cart
                        .ps-product__thumbnail: a(href='product-default.html'): img(src="img/products/electronic/15.jpg" alt="")
                        .ps-product__content
                            a(href='product-default.html') XtremepowerUS Stainless Steel Tumble Cloths Dryer
                td.price $508.00
                td: span.ps-tag.ps-tag--out-stock Out-stock



