.table-responsive
    table.table.ps-table.ps-table--vendor
        thead
            tr
                th date
                th Product
                th Price
                th Sold
                th Commission
                th Rate
        tbody
            tr
                td Nov 4, 2019
                td: a(href='#') Marshall Kilburn Portable Wireless Bluetooth Spe...
                td $235.35
                td 25
                td $2940.00
                td 24.5%
            tr
                td Nov 4, 2019
                td: a(href='#') Unero Military Classical Backpack
                td $42.35
                td 10
                td $211.00
                td 17.5%
            tr
                td Nov 4, 2019
                td: a(href='#') Sleeve Linen Blend Caro Pana T-Shirt
                td $23.35
                td 80
                td $935.00
                td 62.5%
            tr
                td Nov 30, 2019
                td: a(href='#') Harman Kardon Onyx Studio 2.0
                td $299.35
                td 14
                td $2095.00
                td 62.5%
            tr
                td Nov 30, 2019
                td: a(href='#') Korea Long Sofa Fabric In Blu Navy Color
                td $299.35
                td 5
                td $6095.00
                td 62.5%
            tr
                td(colspan=3): strong Total
                td: strong 124 Sale
                td(colspan=2): strong $12.104.725
