.ps-section__content
    img(src="img/404.jpg" alt="")
    h3 ohh! page not found
    p It seems we can't find what you're looking for. Perhaps searching can help or go back to
        a(href='index.html')  Homepage
    form(action="do_action" method="get" class="ps-form--widget-search")
        input.form-control(type="text" placeholder="Search...")
        button: i.icon-magnifier
