.ps-faqs
    .container
        .ps-section__header: h1 Frequently Asked Questions
        .ps-section__content
            include ../tables/table-faqs
.ps-call-to-action
    .container
        h3 We’re Here to Help !
            a(href='#')  Contact us