.ps-home-recent-view
    .container
        .ps-block--recent-viewed
            .ps-block__header
                h3 Recently Viewed Products
                a(href='shop-default.html') View All
            .ps-block__content
                a(href='#'): img(src="img/products/technology/3.jpg" alt="")
                a(href='#'): img(src="img/products/technology/4.jpg" alt="")
                a(href='#'): img(src="img/products/technology/5.jpg" alt="")
                a(href='#'): img(src="img/products/technology/6.jpg" alt="")

