.ps-home-promotions
    .container
        .row
            +column({cols: [6, 6, 6, 12, 12]}): a(href='#').ps-collection: img(src="img/promotions/home-10/1.jpg" alt="")
            +column({cols: [6, 6, 6, 12, 12]}): a(href='#').ps-collection: img(src="img/promotions/home-10/2.jpg" alt="")