-
    trending_categories = [
        {imagePath: 'img/categories/home-5/1.jpg', text: '#television'},
        {imagePath: 'img/categories/home-5/2.jpg', text: '#camera'},
        {imagePath: 'img/categories/home-5/3.jpg', text: '#watch'},
        {imagePath: 'img/categories/home-5/4.jpg', text: '#chair'},
        {imagePath: 'img/categories/home-5/5.jpg', text: '#sneaker'},
        {imagePath: 'img/categories/home-5/6.jpg', text: '#xbox'},
        {imagePath: 'img/categories/home-5/7.jpg', text: '#gopro'},
        {imagePath: 'img/categories/home-5/8.jpg', text: '#lipstick'},
        {imagePath: 'img/categories/home-5/9.jpg', text: '#phone'},
        {imagePath: 'img/categories/home-5/10.jpg', text: '#laptop'},
        {imagePath: 'img/categories/home-5/11.jpg', text: '#speaker'},
        {imagePath: 'img/categories/home-5/12.jpg', text: '#book'},
        {imagePath: 'img/categories/home-5/13.jpg', text: '#blender'},
        {imagePath: 'img/categories/home-5/14.jpg', text: '#bag'},
        {imagePath: 'img/categories/home-5/15.jpg', text: '#smartphone'},
        {imagePath: 'img/categories/home-5/16.jpg', text: '#camping'},
    ]