-
    producDealOfDay = [
         {
            thumbnail: 'img/products/technology/1.jpg',
            title: 'Apple iPhone X 256GB T-Mobile – Black',
            sale: true,
            price: "$1389.99 <del>$1893.00</del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '11%'
                }
            ]
        },{
            thumbnail: 'img/products/technology/2.jpg',
            title: 'Apple iPhone 7 Plus 128 GB – Red Color',
            vendor: 'Global Office',
            sale: true,
            price: "$820.99 <del>$893.00</del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '11%'
                }
            ]
        },{
            thumbnail: 'img/products/technology/3.jpg',
            title: 'Apple MacBook Air Retina 13.3-Inch Laptop',
            vendor: 'Global Office',
            sale: true,
            price: "$1020.99 <del>$1120.00</del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '21%'
                }
            ]
        },{
            thumbnail: 'img/products/technology/4.jpg',
            title: 'Samsung Gear VR Virtual Reality Headset',
            vendor: 'Global Office',
            sale: true,
            price: "$64.99 <del>$80.00</del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '18%'
                }
            ]
        },{
            thumbnail: 'img/products/technology/5.jpg',
            title: 'Bose Bluetooth & Wireless Speaker 2.0 – Blue',
            vendor: 'Global Office',
            sale: true,
            price: "$42.99 <del>$52.00</del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '18%'
                }
            ]
        },{
            thumbnail: 'img/products/technology/6.jpg',
            title: 'Samsung Gallaxy A8 8GB Ram – Sliver Version',
            vendor: 'Global Office',
            sale: true,
            price: "$542.99 <del>$592.00</del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '17%'
                }
            ]
        },{
            thumbnail: 'img/products/technology/7.jpg',
            title: 'Samsung Gallaxy A8 8GB Ram – Sliver Version',
            vendor: 'Global Office',
            sale: true,
            price: "$542.99 <del>$592.00</del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '17%'
                }
            ]
        },
    ]

-
    topCategories = [
        {
            imagePath: 'img/categories/technology/1.jpg',
            title: 'Smartphone'
        },{
            imagePath: 'img/categories/technology/2.jpg',
            title: 'Tables'
        },{
            imagePath: 'img/categories/technology/3.jpg',
            title: 'Laptops'
        },{
            imagePath: 'img/categories/technology/4.jpg',
            title: 'Sounds'
        },{
            imagePath: 'img/categories/technology/5.jpg',
            title: 'Technology Toys'
        },{
            imagePath: 'img/categories/technology/6.jpg',
            title: 'Accessories'
        },
    ]
-
    productPopular = [
        {
            thumbnail: 'img/products/technology/2.jpg',
            title: 'Apple iPhone 7 Plus 128 GB – Red Color',
            vendor: 'Global Office',
            sale: true,
            price: "$820.99 <del>$893.00</del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '11%'
                }
            ]
        },{
            thumbnail: 'img/products/technology/6.jpg',
            title: 'Samsung Gallaxy A8 8GB Ram – Sliver Version',
            vendor: 'Global Office',
            sale: true,
            price: "$542.99 <del>$592.00</del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '17%'
                }
            ]
        },{
            thumbnail: 'img/products/technology/7.jpg',
            title: 'Yuntab K107 10.1 Inch Quad Core CPU MT6580',
            vendor: 'Global Office',

            price: "$99.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/technology/7.jpg',
            title: 'Apple iPhone Retina 6s Plus 64GB – Gold',
            vendor: 'Global Office',
            price: "$899.99 ",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/technology/8.jpg',
            title: 'Android Tablet 10” 16GB Marshmallow',
            vendor: 'Global Office',
            price: "$95.99",
            rating: true,
            ratingCount: '01',
        },
    ]
-
    productLaptopAndSound = [
        {
            thumbnail: 'img/products/technology/3.jpg',
            title: 'Apple MacBook Air Retina 13.3-Inch Laptop',
            vendor: 'Global Office',
            sale: true,
            price: "$820.99 <del>$893.00</del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '11%'
                }
            ]
        },{
            thumbnail: 'img/products/technology/9.jpg',
            title: 'Apple MacBook Air Retina 13.3-Inch Laptop',
            vendor: 'Global Office',
            price: "$42.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/technology/12.jpg',
            title: 'Apple MacBook Air Retina 12-Inch Laptop',
            vendor: 'Global Office',
            price: "$942.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/technology/5.jpg',
            title: 'Bose Bluetooth & Wireless Speaker 2.0 – Blue',
            vendor: 'Young Shop',
            price: "$92.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/technology/6.jpg',
            title: 'Bose Ear-Phone Bluetooth & Wireless',
            vendor: 'Young Shop',
            price: "$392.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/technology/11.jpg',
            title: 'Bose Ear-Phone Bluetooth & Wireless',
            vendor: 'Young Shop',
            price: "$102.99",
            rating: true,
            ratingCount: '01',
        },
    ]
-
    productToy = [
        {
            thumbnail: 'img/products/technology/4.jpg',
            title: 'Samsung Gear VR Virtual Reality Headset',
            vendor: 'Global Office',
            sale: true,
            price: "$820.99 <del>$893.00</del>",
            rating: true,
            ratingCount: '01',
            badge: [
                {
                    type: 'sale',
                    value: '11%'
                }
            ]
        },{
            thumbnail: 'img/products/technology/13.jpg',
            title: 'iQOS 2.4 Plus Kit, Holder & Chargers – White',
            vendor: 'Global Office',
            price: "$42.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/technology/14.jpg',
            title: 'DJI Phantom 4 Quadcopter Drone',
            vendor: 'Global Office',
            price: "$942.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/technology/15.jpg',
            title: 'Apple TV 4k – 32 GB (4th Generation)',
            vendor: 'Young Shop',
            price: "$92.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/technology/16.jpg',
            title: 'GoPro Karman 4 Channels Quadcopter Drone',
            vendor: 'Young Shop',
            price: "$392.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/technology/17.jpg',
            title: 'Samsung Gear VR Virtual Reality Headset',
            vendor: 'Young Shop',
            price: "$102.99",
            rating: true,
            ratingCount: '01',
        },
    ]
-
    goodPrice = [
        {
            thumbnail: 'img/products/technology/18.jpg',
            title: 'HP Chromebook CB 10014 Desktop',
            vendor: 'Global Office',
            sale: true,
            price: "$820.99",
            rating: true,
            ratingCount: '01',

        },{
            thumbnail: 'img/products/technology/19.jpg',
            title: 'Acrylic Cover Case for iPhone X- (Clear)',
            vendor: 'Global Office',
            sale: true,
            price: "$49.99",
            rating: true,
            ratingCount: '01',

        },{
            thumbnail: 'img/products/technology/20.jpg',
            title: 'B&O Play Mini Bluetooth Speaker',
            vendor: 'Global Office',
            sale: true,
            price: "$49.99",
            rating: true,
            ratingCount: '01',

        },{
            thumbnail: 'img/products/technology/21.jpg',
            title: 'Beats Mini On Ear Bluetooth, Wireless Headphone',
            vendor: 'Global Office',
            sale: true,
            price: "$64.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/technology/22.jpg',
            title: 'Package 2 iClever Bootscube Mini Chargers',
            vendor: 'Global Office',
            sale: true,
            price: "$12.99",
            rating: true,
            ratingCount: '01',
        },{
            thumbnail: 'img/products/technology/17.jpg',
            title: 'Samsung Gear VR Virtual Reality Headset',
            vendor: 'Global Office',
            sale: true,
            price: "$12.99",
            rating: true,
            ratingCount: '01',
        },
    ]