.ps-block--post--navigation
    a(href='#').ps-block__link
        span.ps-block__arrow
            i.icon-arrow-left
            |  Previous
        span.ps-block__title Experience Great Sound With Beats’s Headphone
    a(href='#').ps-block__link
        span.ps-block__arrow
            |  Next
            i.icon-arrow-right
        span.ps-block__title Products Necessery For Mom

