aside.widget.widget--blog.widget--search
    form(action="do_action" method="get" class="ps-form--widget-search")
        input.form-control(type="text" placeholder="Search...")
        button: i.icon-magnifier
aside.widget.widget--blog.widget--categories
    h3.widget__title Categories
    .widget__content
        ul
            li: a(href='blog-grid.html') Business
            li: a(href='blog-grid.html') Entertaiment
            li: a(href='blog-grid.html') Fashion
            li: a(href='blog-grid.html') Life style
            li: a(href='blog-grid.html') Others
            li: a(href='blog-grid.html') Technology
aside.widget.widget--blog.widget--recent-post
    h3.widget__title Recent Posts
    .widget__content
        a(href='blog-detail.html') Harman Kadon Onyx Studio Mini, Reviews & Experiences
        a(href='blog-detail.html') Experience Great Sound With Beats’s Headphone
        a(href='blog-detail.html') Products Necessery For Mom
        a(href='blog-detail.html') Home Interior: Modern Style 2017
        a(href='blog-detail.html') DeerCo – A New Look About Startup In Product Manufacture Field
aside.widget.widget--blog.widget--recent-comments
    h3.widget__title Recent Comments
    .widget__content
        p
            a(href='#').author drfurion
            |  on
            a(href='#')  Dashboard
        p
            a(href='#').author logan
            |  on
            a(href='#')  Rayban Rounded Sunglass Brown Color
        p
            a(href='#').author logan
            |  on
            a(href='#')  Sound Intone I65 Earphone White Version
        p
            a(href='#').author logan
            |  on
            a(href='#')  Sleeve Linen Blend Caro Pane Shirt
aside.widget.widget--blog.widget--tags
    h3.widget__title Popular Tags
    .widget__content
        a(href='#') Business
        a(href='#') Clothing
        a(href='#') Design
        a(href='#') Entertaiment
        a(href='#') Fashion
        a(href='#') Internet
        a(href='#') Life Style
        a(href='#') Marketing
        a(href='#') Music
